extends ../layouts/layout.pug

//- http://cwbuecheler.com/web/tutorials/2014/restful-web-app-node-express-mongodb/

block head
  title #{application} &middot; Patient Reviews &middot; Patient Reviews

block content
  .content.bg-gray-lighter
    .row.items-push
      .col-sm-8
        h1.page-heading Patient Reviews  
        small Your online reputation portal.
      .col-sm-4.text-right.hidden-xs
        ol.breadcrumb.push-10-t
          li 
            a.link-effect(href='/app/dashboard') Dashboard
          li
            a.link-effect(href='/app/pr/phi/patient-reviews') Patient Reviews

  .content.bg-white
    .row
      .col-md-12
        a.linknewrequest.btn.btn-success.pull-center(href="#") 
          i.fa.fa-paper-plane-o
          |   Send Review Invite

        //- USER LIST
        #userList
          table.table.table-striped
            thead
              th Name
              th.hidden-xs Email
              th.hidden-xs Phone
              th.hidden-xs Request Date
              th.hidden-xs Review Date
              th Rating
              th Actions
              th.hidden-xs Status
            tbody
              each review, i in reviews
                tr
                  td
                    span #{review.patient.name}
                  td.hidden-xs
                    strong #{review.patient.email}
                  td.hidden-xs
                    span #{formatPhone(review.patient.phone)}
                  td.hidden-xs
                    span #{moment.unix(review.visit_date).format('MMM-DD-YYYY')}
                  td.hidden-xs
                    span #{moment.unix(review.survey_date).format('MMM-DD-YYYY')}
                  td
                    +star_mixin(review.averageRating)
                  td
                    a.btn.btn-info.btn-xs(href='review/'+review.id, title='View')
                      i.fa.fa-eye
                    | &nbsp;
                    - if(review.status === 2)
                      a.linkresend.btn.btn-info.btn-xs.disabled(href="#", data-surveyid=review.id, title='Resend')
                        i.fa.fa-refresh
                      | &nbsp;
                    -else
                      a.linkresend.btn.btn-info.btn-xs(href="#", data-surveyid=review.id, title='Resend')
                        i.fa.fa-refresh
                      | &nbsp;
                    a.linkdeletesurvey.btn.btn-info.btn-xs(href="#", data-surveyid=review.id, title='Delete')
                      i.fa.fa-trash
                  td.hidden-xs
                    +survery_status(review.status)
        - if (reviews.length === 0)
          span No reviews found in a database.

  #resendModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='resendModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#resendModalLabel.modal-title Resend confirmation
        .modal-body
          h4 Are you sure?
          form#resendform(action='resend-survey', method='POST')
            input.form-control(type='hidden', name='_csrf', value=_csrf)
            input#resendformid.form-control(type='hidden', name='id')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') No
          button#resendModalConfirm.btn.btn-primary(type='button') Yes!

  #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#deleteModalLabel.modal-title Delete confirmation
        .modal-body
          h4 Are you sure?
          form#deleteform(action='delete-survey', method='POST')
            input.form-control(type='hidden', name='_csrf', value=_csrf)
            input#deleteformid.form-control(type='hidden', name='id')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') No
          button#deleteModalConfirm.btn.btn-primary(type='button') Yes!

  #requestModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog.modal-md
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title New Review Request
        .modal-body
          .row
            .col-sm-12
              form#requestform(action='new-request', method='POST')
                input.form-control(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  label.sr-only(for='name') Name
                  input.form-control(type='text', name='name', id='name', placeholder='Patient name')
                .form-group
                  label.sr-only(for='email') Email
                  input.form-control(type='email', name='email', id='email', placeholder='Patient email')
                  #hint
                .form-group
                  label.sr-only(for='phoneMobile') Mobile Phone
                  input.form-control(type='tel', name='phoneMobile', id='phoneMobile', placeholder='Patient phone # e.g. (703) 123-4567', pattern='/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})/', title='Phone Number: +1 (999) 999-9999')
                .form-group
                  input.form-control(type='hidden', name='visitDate', id='visitDate')
                .form-group
                  #profileDropdown.dropdown
                    input.form-control(type='hidden', name='selectedProfile', id='selectedProfile')
                    input.form-control(type='hidden', name='selectedProfileType', id='selectedProfileType')
                    button#profileDropdownButton.form-control.btn.btn-default.dropdown-toggle(type="button", name="profileDropdownButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Select a Profile
                      span.caret.pull-right
                    ul.form-control.dropdown-menu(aria-labelledby="profileDropdownButton")
                      - if (profiles.length === 0)
                        span &nbsp;&nbsp;No profiles found in the database.&nbsp;&nbsp;
                      - else
                        each profile, i in profiles
                          li
                            a.form-control(href="#", data-id=profile.id, data-type=profile.type) #{profile.name}
                h6#profileDropdownWarningLabel(style='color:#d26a5c; font-style:italic; margin-top:-5px') Please select a profile, or create one first if none exist
                .form-group
                  #reviewSiteDropdown.dropdown
                    input.form-control(type='hidden', name='reviewSite', id='reviewSite')
                    button#reviewSiteDropdownButton.form-control.btn.btn-default.dropdown-toggle(type="button", name="reviewSiteDropdown", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Select a Review Site
                      span.caret.pull-right
                    ul.form-control.dropdown-menu(aria-labelledby="reviewSiteDropdownButton")
                      li#yelp
                        a.form-control(href="#", data-site='yelp') Yelp
                      li#google
                        a.form-control(href="#", data-site='google') Google Plus
                      li#healthgrades
                        a.form-control(href="#", data-site='healthgrades') HealthGrades.com
                      li#vitals
                        a.form-control(href="#", data-site='vitals') Vitals.com
                      li#ratemds
                        a.form-control(href="#", data-site='ratemds') RateMDs.com
                      li#yellowpages
                        a.form-control(href="#", data-site='yellowpages') YellowPages
                h6#reviewSiteDropdownWarningLabel(style='color:#d26a5c; font-style:italic; margin-top:-5px') Please select a review site

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
          button#sendrequestbutton.btn.btn-primary(type='button') Send Request

block scripts
  script.
    // List of providers and locations passed
    const profiles = !{JSON.stringify(profiles)};

    // DOM Ready =============================================================
    (function(init) {
      init(window.jQuery, window, document);
    }(function($, window, document) {

      $(function() {
        //- Async Load Bootstrap Modal
        $.ajax({
          type: 'GET',
          url: '/app/lib/bootstrap/js/modal.js',
          dataType: 'script',
          cache: true
        });

        // USERS INFORMATION

        // Delete and Resend User link clicks
        var userList = $('#userList');
        userList.on('click.first', '.linkresend', resendSurvey);
        userList.on('click.second', '.linkdeletesurvey', deleteSurvey);


        // REVIEW REQUEST MODAL

        // Initially hide warning labels and the review site dropdown
        $('#profileDropdownWarningLabel').hide();
        $('#reviewSiteDropdownWarningLabel').hide();
        $('#reviewSiteDropdown').hide();

        // New request link click
        $('.linknewrequest').on('click', newRequest);

        // Diplay change in dropdown selection
        $("#profileDropdown").on('click', 'li a', updateProfileDropdownValue);
        $("#reviewSiteDropdown").on('click', 'li a', updateReviewSiteDropdownValue);

        // Default visit date to current date
        var local = new Date();
        local.setMinutes(local.getMinutes() - local.getTimezoneOffset());
        $('#visitDate').val(local.toJSON().slice(0,10));
      });
    }));

    // Functions =============================================================

    // Diplay change in profile dropdown selection
    function updateProfileDropdownValue(event) {
      var $profileDropdownButton = $('#profileDropdownButton');
      var $reviewSiteDropdown = $('#reviewSiteDropdown');
      var $profileDropdownWarningLabel = $('#profileDropdownWarningLabel');
      const selectedProfileId = $(this).data('id');

      // Update button
      $profileDropdownButton.html($(this).text() + ' <span class="caret pull-right"></span>');
      $profileDropdownButton.val($(this).data('id'));
      // Update hidden input values
      $('#selectedProfile').val($(this).data('id'));
      $('#selectedProfileType').val($(this).data('type'));
      // Show review site dropdown
      if(!$reviewSiteDropdown.is(':visible')) {
        $reviewSiteDropdown.show();
      }
      // Update available review site options
      const selectedProfile = profiles.filter(function(p) {
        return p.id === selectedProfileId;
      })[0];
      console.log(JSON.stringify(selectedProfile));
      selectedProfile.review_sites.yelp == null ? $('#yelp').hide() : $('#yelp').show();
      selectedProfile.review_sites.google == null ? $('#google').hide() : $('#google').show();
      selectedProfile.review_sites.healthgrades == null ? $('#healthgrades').hide() : $('#healthgrades').show();
      selectedProfile.review_sites.vitals == null ? $('#vitals').hide() : $('#vitals').show();
      selectedProfile.review_sites.ratemds == null ? $('#ratemds').hide() : $('#ratemds').show();
      selectedProfile.review_sites.yellowpages == null ? $('#yellowpages').hide() : $('#yellowpages').show();
      // Remove warning label
      if($profileDropdownWarningLabel.is(':visible')) {
        $profileDropdownWarningLabel.hide();
        $profileDropdownButton.css('border', '1px solid #e6e6e6');
      }
    }

    // Diplay change in review site dropdown selection
    function updateReviewSiteDropdownValue(event) {
      var $reviewSiteDropdownButton = $('#reviewSiteDropdownButton');
      var $reviewSiteDropdownWarningLabel = $('#reviewSiteDropdownWarningLabel');

      // Update button
      $reviewSiteDropdownButton.html($(this).text() + ' <span class="caret pull-right"></span>');
      $reviewSiteDropdownButton.val($(this).data('site'));
      // Update hidden input values
      $('#reviewSite').val($(this).data('site'));
      // Remove warning label
      if($reviewSiteDropdownWarningLabel.is(':visible')) {
        $reviewSiteDropdownWarningLabel.hide();
        $reviewSiteDropdownButton.css('border', '1px solid #e6e6e6');
      }
    }

    // Resend Survey
    function resendSurvey(event) {

      // Prevent Link from Firing
      event.preventDefault();

      function showmodal(id) {
        $('#resendModal').modal({keyboard:true,backdrop:'static'});
        $('#resendModalConfirm').one('click', function () {
          $('#resendformid').val(id);
          $('#resendform').submit();
          $('#resendModal').modal('hide');
        });
      }

      showmodal($(this).attr('data-surveyid'));
    };

    // Delete Survey
    function deleteSurvey(event) {

      // Prevent Link from Firing
      event.preventDefault();

      // Pop up a confirmation dialog
      // Convoluted because we have to
      // pass the user's id through
      function showmodal(id) {
        // show modal
        $('#deleteModal').modal({keyboard:true,backdrop:'static'});
        // if "yes" clicked
        $('#deleteModalConfirm').one('click', function () {
          // close the modal
          $('#deleteformid').val(id);
          $('#deleteform').submit();
          $('#deleteModal').modal('hide');
        });
      }

      // call modal function with the user's account id
      showmodal($(this).attr('data-surveyid'));

    };

    // Create new survey request
    function newRequest(event) {

      // Prevent Link from Firing
      event.preventDefault();

      // Pop up a confirmation dialog
      // Convoluted because we have to pass the user's id through
      function showmodal(userid) {
        // show modal
        $('#requestModal').modal({keyboard:true,backdrop:'static'});
        $("#requestform").validate({
          rules: {
            name: "required",
            email: {
              required: true,
              email: true
            },
            phoneMobile: {
              required: true
            }
          },
          messages: {
            name: "Please specify patient name",
            email: {
              required: "Please provide a patient email address to contact",
              email: "Patient email address must be in the format of name@domain.com"
            },
            phoneMobile: {
              required: "Please provide a patient phone to contact"
            }
          }
        });

        // Submit new review request
        $('#sendrequestbutton').on('click', sendRequest);
      }

      // call modal function with the user's account id
      showmodal($(this).attr('rel'));

    };

    // Send review request
    function sendRequest(event) {
      // Prevent Link from Firing
      event.preventDefault();

      const $profileDropdownButton = $('#profileDropdownButton');
      const $reviewSiteDropdownButton = $('#reviewSiteDropdownButton');

      if($profileDropdownButton.val() == null || $profileDropdownButton.val() === '') {
        $('#profileDropdownWarningLabel').show();
        $profileDropdownButton.css('border', '1px solid #d26a5c');
        $('#requestform').valid();
      }
      else if($reviewSiteDropdownButton.val() == null || $reviewSiteDropdownButton.val() === '') {
        $('#reviewSiteDropdownWarningLabel').show();
        $reviewSiteDropdownButton.css('border', '1px solid #d26a5c');
        $('#requestform').valid();
      }
      else if($('#requestform').valid) {
        $('#requestform').submit();
      }
    }
