doctype html
html.js.no-flexbox.flexbox-legacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
  // InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false"
  // <![endif]
  head
    include ../partials/header.pug
  body(style='')
    #wrapper
      include ../partials/topnavbar.pug
      #headcontainer
        header
          a(href='/')
            img.home-photo(src='/assets/images/northern-virginia-dental-center-photo.jpg', alt='Northern Virginia Dental Arts', border='0')
          a(href='/')
            img(src='/assets/images/northern-virginia-dental-denter-logo.gif', alt='Northern Virginia Dental Arts', border='0')
          #big-contact
            // <p class="apt"><a href="/appointment.html">Make appointment</a></p>
            //- #calendar
            //-   a#zocdoc_schedule(style='display:block;', href='http://www.zocdoc.com/practice/nova-dental-arts-47181') Nova Dental Arts
            //-   script(type='text/javascript', src='http://offsiteSchedule.zocdoc.com/remote/Schedule2.js.aspx?providerid=47181&prefix=zocdoc_&bookBtn=http://offsiteSchedule.zocdoc.com/assets/images/remote/book-on-light-small.png&locationId=')
            p.phone= practice.phone
            p.address #{practice.address}, #{practice.city}, #{practice.state} #{practice.zip}  
      .standardcontainer
        #menu.maincontent
          .drop-down-container
            a.toggleMenu(href='#', style='display: none;') Menu
            ul.nav
              li
                a.off(href='/our-doctor.html') Dr. Hawa
              li
                a.off(href='/our-team.html') The Team
              li
                a.off.parent(href='/dental-services/') Dental Services
                ul
                  li.no-top-border.left
                    a(href='/dental-services/cosmetic-aesthetic-dentistry.html') Cosmetic and Aesthetic Dentistry
                  li.no-top-border
                    a(href='/dental-services/veneers-crowns-bridges.html') Veneers, Crowns & Bridges
                  li.left
                    a(href='/dental-services/implant-dentistry.html') Implant Dentistry
                  li
                    a(href='/dental-services/periodontal-therapy.html') Periodontal Therapy
                  li.left
                    a(href='/dental-services/dental-hygiene.html') Dental Hygiene
                  li
                    a(href='/dental-services/dental-emergencies.html') Dental Emergencies
                  li.left
                    a(href='/dental-services/root-canal-treatment.html') Root Canal Treatment
                  li
                    a(href='/dental-services/fillings-and-restorative-prodcedures.html') Fillings and Restorative Procedures
                  li.left
                    a(href='/dental-services/night-guards.html') Night Guards and Sports Guards
                  li
                    a(href='/dental-services/teeth-whitening.html') Teeth Whitening
                  li.left
                    a(href='/dental-services/advanced-technology.html') Advanced Technology
                  li.last  
              li
                a.off(href='/invisalign.html') Invisalign
              li
                a.off(href='/invisalign-teen.html') Invisalign Teen
              li
                a.off(href='/gorgeous-smile.html') Gorgeous Smile
              li
                a.off(href='/overall-health.html') Overall Health
              li
                a.off(href='/testimonials.html') Testimonials
              li
                a.off(href='/videos.html') Videos
              li
                a.off(href='/contact-and-location.html') Contact
              li
                a.ec(href='/dental-services/dental-emergencies.html') Emergencies
      // InstanceBeginEditable name="layout"
      .bx-wrapper(style='max-width: 100%;')
        .bx-viewport(style='width: 100%; overflow: hidden; position: relative; height: 439px;')
          ul.bxslider(style='width: auto; position: relative;')
            li(style='float: none; list-style: none; position: absolute; display: none; width: 1280px; z-index: 0;')
              img(src='/assets/images/slide-1.jpg', alt='Welcome to Northern Virginia Dental Arts ')
              .bx-caption
                span
                  p.header Welcome to Northern Virginia Dental Arts
                  p
                    | Why are we here?
                    br
                    | To improve 
                    u
                      i your
                    |  very quality of life!
            li(style='float: none; list-style: none; position: absolute; width: 1280px; display: list-item; z-index: 50;')
              img(src='/assets/images/slide-0.jpg', alt='Ideal Surroundings')
              .bx-caption
                span
                  p.header Ideal Surroundings
                  p Relax in our beautiful office set on a scenic pond
            li(style='float: none; list-style: none; position: absolute; width: 1280px; display: none; z-index: 0;')
              img(src='/assets/images/slide-3.jpg', alt='Gorgeous Smile')
              .bx-caption
                span
                  p.header Sterling, Virginia
                  p
                    | Our highly-skilled dental team proudly serves
                    br
                    | Sterling, Ashburn, Great Falls and Northern Virginia
            li(style='float: none; list-style: none; position: absolute; width: 1280px; display: none; z-index: 0;')
              img(src='/assets/images/slide-4.jpg', alt='Family Dentist')
              .bx-caption
                span
                  p.header Family Dentist
                  p We offer complete and cosmetic dentistry for all ages
            li(style='float: none; list-style: none; position: absolute; width: 1280px; display: none; z-index: 0;')
              img(src='/assets/images/slide-5.jpg', alt='Fayetteville, North Carolina')
              .bx-caption
                span
                  p.header Gorgeous Smile
                  p
                    | A gorgeous smile is the best beauty secret around.
                    br
                    | Contact us today for a FREE smile consultation!
        .bx-controls.bx-has-pager
          .bx-pager.bx-default-pager
            .bx-pager-item
              a.bx-pager-link(href='', data-slide-index='0') 1
            .bx-pager-item
              a.bx-pager-link.active(href='', data-slide-index='1') 2
            .bx-pager-item
              a.bx-pager-link(href='', data-slide-index='2') 3
            .bx-pager-item
              a.bx-pager-link(href='', data-slide-index='3') 4
            .bx-pager-item
              a.bx-pager-link(href='', data-slide-index='4') 5
      .maincontent.centre
        include ../partials/portrait&intro.pug
        include ../partials/fourcols.pug 
    include ../partials/commitments.pug  
    include ../partials/quote.pug
    include ../partials/footer.pug
    script(src='/assets/js/jquery-1.11.0.min.js')
    script(src='/assets/js/jquery.validate.min.js')
    script(src='/assets/js/drop-down-menu.js')
    script(src='/assets/js/validate-short-form.js')
    // InstanceBeginEditable name="JS"
    script(src='/assets/js/jquery.bxslider.min.js')
    script.
      $(document).ready(function(){
      $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true,
      controls: false,
      speed: 1500,
      pause: 6000,
      auto: true
      });
      });
    // InstanceEndEditable
    // InstanceEnd

