doctype html
html.js.no-flexbox.flexbox-legacy.canvas.canvastext.webgl.no-touch.geolocation.postmessage.websqldatabase.indexeddb.hashchange.history.draganddrop.websockets.rgba.hsla.multiplebgs.backgroundsize.borderimage.borderradius.boxshadow.textshadow.opacity.cssanimations.csscolumns.cssgradients.cssreflections.csstransforms.csstransforms3d.csstransitions.fontface.generatedcontent.video.audio.localstorage.sessionstorage.webworkers.applicationcache.svg.inlinesvg.smil.svgclippaths
  // InstanceBegin template="/Templates/layout.dwt" codeOutsideHTMLIsLocked="false"
  // <![endif]
  head
    include ../partials/header.pug
  body(style='')
    #wrapper
      include ../partials/topnavbar.pug
      #headcontainer
        header
          a(href='/')
            img.home-photo(src='/assets/images/northern-virginia-dental-center-photo.jpg', alt='Northern Virginia Dental Arts', border='0')
          a(href='/')
            img(src='/assets/images/northern-virginia-dental-denter-logo.gif', alt='Northern Virginia Dental Arts', border='0')
          #big-contact
            // <p class="apt"><a href="/appointment.html">Make appointment</a></p>
            //- #calendar
            //-   a#zocdoc_schedule(style='display:block;', href='http://www.zocdoc.com/practice/nova-dental-arts-47181') Nova Dental Arts
            //-   script(type='text/javascript', src='http://offsiteSchedule.zocdoc.com/remote/Schedule2.js.aspx?providerid=47181&prefix=zocdoc_&bookBtn=http://offsiteSchedule.zocdoc.com/assets/images/remote/book-on-light-small.png&locationId=')
            p.phone= practice.phone
            p.address #{practice.address}, #{practice.city}, #{practice.state} #{practice.zip}  
      .standardcontainer
        #menu.maincontent
          .drop-down-container
            a.toggleMenu(href='#', style='display: none;') Menu
            ul.nav
              li
                a.off(href='/our-doctor.html') Dr. Hawa
              li
                a.off(href='/our-team.html') The Team
              li
                a.off.parent(href='/dental-services/') Dental Services
                ul
                  li.no-top-border.left
                    a(href='/dental-services/cosmetic-aesthetic-dentistry.html') Cosmetic and Aesthetic Dentistry
                  li.no-top-border
                    a(href='/dental-services/veneers-crowns-bridges.html') Veneers, Crowns & Bridges
                  li.left
                    a(href='/dental-services/implant-dentistry.html') Implant Dentistry
                  li
                    a(href='/dental-services/periodontal-therapy.html') Periodontal Therapy
                  li.left
                    a(href='/dental-services/dental-hygiene.html') Dental Hygiene
                  li
                    a(href='/dental-services/dental-emergencies.html') Dental Emergencies
                  li.left
                    a(href='/dental-services/root-canal-treatment.html') Root Canal Treatment
                  li
                    a(href='/dental-services/fillings-and-restorative-prodcedures.html') Fillings and Restorative Procedures
                  li.left
                    a(href='/dental-services/night-guards.html') Night Guards and Sports Guards
                  li
                    a(href='/dental-services/teeth-whitening.html') Teeth Whitening
                  li.left
                    a(href='/dental-services/advanced-technology.html') Advanced Technology
                  li.last  
              li
                a.off(href='/invisalign.html') Invisalign
              li
                a.off(href='/invisalign-teen.html') Invisalign Teen
              li
                a.off(href='/gorgeous-smile.html') Gorgeous Smile
              li
                a.off(href='/overall-health.html') Overall Health
              li
                a.off(href='/testimonials.html') Testimonials
              li
                a.off(href='/videos.html') Videos
              li
                a.off(href='/contact-and-location.html') Contact
              li
                a.ec(href='/dental-services/dental-emergencies.html') Emergencies
      // InstanceBeginEditable name="layout"
      .bx-wrapper(style='max-width: 100%;')
        .bx-viewport(style='width: 100%; overflow: hidden; position: relative; height: 439px;')
          ul.bxslider(style='width: auto; position: relative;')
            li(style='float: none; list-style: none; position: absolute; display: none; width: 1280px; z-index: 0;')
              img(src='/assets/images/slide-1.jpg', alt='Welcome to Northern Virginia Dental Arts ')
              .bx-caption
                span
                  p.header Welcome to Northern Virginia Dental Arts
                  p
                    | Why are we here?
                    br
                    | To improve 
                    u
                      i your
                    |  very quality of life!
            li(style='float: none; list-style: none; position: absolute; width: 1280px; display: list-item; z-index: 50;')
              img(src='/assets/images/slide-0.jpg', alt='Ideal Surroundings')
              .bx-caption
                span
                  p.header Ideal Surroundings
                  p Relax in our beautiful office set on a scenic pond
            li(style='float: none; list-style: none; position: absolute; width: 1280px; display: none; z-index: 0;')
              img(src='/assets/images/slide-3.jpg', alt='Gorgeous Smile')
              .bx-caption
                span
                  p.header Sterling, Virginia
                  p
                    | Our highly-skilled dental team proudly serves
                    br
                    | Sterling, Ashburn, Great Falls and Northern Virginia
            li(style='float: none; list-style: none; position: absolute; width: 1280px; display: none; z-index: 0;')
              img(src='/assets/images/slide-4.jpg', alt='Family Dentist')
              .bx-caption
                span
                  p.header Family Dentist
                  p We offer complete and cosmetic dentistry for all ages
            li(style='float: none; list-style: none; position: absolute; width: 1280px; display: none; z-index: 0;')
              img(src='/assets/images/slide-5.jpg', alt='Fayetteville, North Carolina')
              .bx-caption
                span
                  p.header Gorgeous Smile
                  p
                    | A gorgeous smile is the best beauty secret around.
                    br
                    | Contact us today for a FREE smile consultation!
        .bx-controls.bx-has-pager
          .bx-pager.bx-default-pager
            .bx-pager-item
              a.bx-pager-link(href='', data-slide-index='0') 1
            .bx-pager-item
              a.bx-pager-link.active(href='', data-slide-index='1') 2
            .bx-pager-item
              a.bx-pager-link(href='', data-slide-index='2') 3
            .bx-pager-item
              a.bx-pager-link(href='', data-slide-index='3') 4
            .bx-pager-item
              a.bx-pager-link(href='', data-slide-index='4') 5
      .maincontent.centre
        #portrait-and-intro
          img(src='/assets/images/dr-portrait.jpg', alt='Dr Portrait')
          h2 NADER HAWA, D.M.D.
          p.why
            | Why are we here?
            br
            | To improve 
            u
              i your
            |  very quality of life!
          p
            | “Hello, I’m Dr. Nader Hawa. My purpose is to improve people’s very quality of life. I work with my expert, friendly team of professionals to keep your teeth healthy and strong for your entire life. We also create gorgeous smiles. We use the miracles of modern dentistry to give you whiter and straighter teeth, or even a Hollywood smile if that is what you want.”
          p.read-more
            a(href='/our-doctor.html') Read More
        iframe.home-video(src='https://player.vimeo.com/video/167568794?title=0&byline=0&portrait=0', width='640', height='360', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
        #four-icons
          .col-4.span_1_of_4.our-team
            a(href='/our-team.html')
              img(src='/assets/images/icon-our-team.gif', alt='Our team', border='0')
            h4 Our Team
            div
              p
                | We offer complete and cosmetic dentistry for all ages. Our office in Sterling, Virginia is a relaxing, comfortable environment where we remember your name and treat you like family. Everyone is genuinely friendly and helpful.
              p.new-para
                | We take time to listen to what is important to you. All your options are explained to your satisfaction – we consider this an important part of our 5-star service!
            p
              a(href='#') Find out more
          .col-4.span_1_of_4.dental-services
            a(href='/dental-services/index.html')
              img(src='/assets/images/icon-dental-services.gif', alt='Dental services', border='0')
            h4 Dental Services
            div
              p
                | Patients routinely comment on how gentle and painless Dr. Hawa and his staff are. Patients are pleasantly surprised especially at the painless injections.
              p.new-para
                | Our entire purpose is to improve the very quality of the lives of our patients. We do this by keeping your teeth healthy and strong so you can eat any food you like, by creating gorgeous smiles, by getting you out of any dental pain you might have and by fixing broken or decayed teeth.
            p
              a(href='#') Find out more
          .col-4.span_1_of_4.gorgeous-smile
            a(href='/gorgeous-smile.html')
              img(src='/assets/images/icon-gorgeous-smile.gif', alt='Gorgeous Smile', border='0')
            h4 Gorgeous Smile
            div
              p
                | You can have a smile makeover in just 1-2 visits. Whether you want a Hollywood, dazzling smile, or just whiter and straighter teeth, Dr. Hawa can give you exactly what you want.
              p.new-para
                | We are very proud to offer Invisalign – the invisible way to straighten your teeth without braces. You’ll look and feel beautiful!
            p
              a(href='#') Find out more
          .col-4.span_1_of_4.oral-health
            a(href='/oral-health.html')
              img(src='/assets/images/icon-oral-health.gif', alt='Oral Health', border='0')
            h4 Oral Health
            div
              p
                | We use modern, state-of-the-art technology to assess your oral health. Early detection of disease or potential problems is an important part of protecting your overall health and wellbeing.
              p.new-para
                | The doctors, hygienists and assistants are highly trained and experienced, and are leaders in their field. Dr. Hawa has taken thousands of hours of continuing education following dental school, to keep up with the latest advancements in dental technologies and techniques. He even trains other dentists!
            p
              a(href='#') Find out more
        #four-icons-links
          .col-4.span_1_of_4.our-team
            p
              a(href='/our-team.html') Find out more
          .col-4.span_1_of_4.dental-services
            p
              a(href='/dental-services/index.html') Find out more
          .col-4.span_1_of_4.gorgeous-smile
            p
              a(href='/gorgeous-smile.html') Find out more
          .col-4.span_1_of_4.oral-health
            p
              a(href='/oral-health.html') Find out more
      .standardcontainer.commitments
        .maincontent
          div
            h3 We promise:
            ul
              li We'll keep your teeth healthy and beautiful for life. 
              li
                | We'll take time with you, and discuss your dental needs
                br
                | and treatment options to your satisfaction.
              li Your dental visits will be comfortable and gentle.
              li We'll help you create a gorgeous smile.
          img(src='/assets/images/nova-homepage-we-promise.jpg', alt='We Promise', style='margin-left: 0; float: left;')
          #magazine
            h3 Our Magazine
            p
              | For insight into Dr. Hawa and Northern Virginia Dental Arts, 
              a(href='/assets/files/hawa-mag-gilleard-web.pdf', target='_blank') download
              |  our magazine today.
            img#magazine-arrow(src='/assets/images/magazine-arrow.jpg', alt='Magazine')
      // InstanceEndEditable
      .standardcontainer.quote
        .maincontent.centre
          img(src='/assets/images/quote-open.png', alt='Quote')
          // InstanceBeginEditable name="Quote"
          p
            | Entire staff was on point. Highly engaging and friendly. Staff works well together - great synergy. High level of genuine interest in the patient. Didn't feel like I was being processed. I think our society has lost a great deal of the personal attention from our healthcare professionals. I will certainly recommend this dental practice to my work associates and friends.
          div(style='margin: auto 0;')
            p.from — Happy Customer: TF —
          // InstanceEndEditable
          img(src='/assets/images/quote-close.png', alt='Quote')
      .standardcontainer.footer
        .maincontent
          .col-4.span_1_of_4
            h4 Quick links
            ul
              li
                a(href='/our-doctor.html') Dr. Hawa
              li
                a(href='/our-team.html') The Team
              li
                a(href='/dental-services/') Dental Services
              li
                a(href='/invisalign.html') Invisalign
              li
                a(href='/invisalign-teen.html') Invisalign Teen
              li
                a(href='/gorgeous-smile.html') Gorgeous Smile
              li
                a(href='/overall-health.html') Overall Health
              li
                a(href='/testimonials.html') Testimonials
              li
                a(href='/videos.html') Videos
              li
                a(href='/contact-and-location.html') Contact
              li
                a(href='/dental-services/dental-emergencies.html') Dental Emergencies
              li
                a(href='/financial-options.html') Financial Options
              li
                a(href='/new-patient-forms.html') New Patient Forms
          .col-4.span_1_of_4
            h4 Emergencies
            p Emergencies welcome and usually seen the same day.
            p
              | Please call our main line:
              br
              |           703-444-5108
          .col-4.span_1_of_4
            h4 Hours
            p
              | We are open Monday to Saturday, including evenings for your convenience. Please contact us today to schedule an appointment.
          .col-4.span_1_of_4
            h4 Get in Touch
            p
              strong Location
              br
              |           46175 Westlake Drive, Suite 130
              br
              |           Sterling, VA 20165
            p
              strong Telephone
              br
              |           703-444-5108
            p#copyright © 2015 Northern Virginia Dental Arts
    script(src='/assets/js/jquery-1.11.0.min.js')
    script(src='/assets/js/jquery.validate.min.js')
    script(src='/assets/js/drop-down-menu.js')
    script(src='/assets/js/validate-short-form.js')
    // InstanceBeginEditable name="JS"
    script(src='/assets/js/jquery.bxslider.min.js')
    script.
      $(document).ready(function(){
      $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true,
      controls: false,
      speed: 1500,
      pause: 6000,
      auto: true
      });
      });
    // InstanceEndEditable
    // InstanceEnd

