.main-content
  
  section#home.divider.fullscreen()
    .maximage-slider
      #maximage
        img(src='/assets/images/slider1.jpg', alt= practice.name)
        img(src='/assets/images/slider2.jpg', alt= practice.name)
        img(src='/assets/images/slider3.jpg', alt= practice.name)
        img(src='/assets/images/slider4.jpg', alt= practice.name)
        img(src='/assets/images/slider5.jpg', alt= practice.name)
        img(src='/assets/images/slider6.jpg', alt= practice.name)
      .fullscreen-controls
        a.img-prev
          i.pe-7s-angle-left
        a.img-next
          i.pe-7s-angle-right
    .display-table
      .display-table-cell
        .container.pb-0
          .row.equal-height-inner
            .col-md-4.mb-sm-60
              .feature-icon-box.bg-theme-colored
                .p-30
                  .feature-icon.bg-theme-colored
                    i.fa.fa-heartbeat.text-white.font-30
                  h6.text-uppercase.text-white Get the Medical Care You Need Right Away!
                  h4.text-uppercase.text-white Services
                  p.text-white
                    | Whether you have a scheduled screening or a medical emergency, you’ll receive exceptional care from our medical staff. We provide prompt assistance for both appointments and walk-ins, so you can rest easy knowing you’ll be taken care of right away.
                  a.btn.p-0.text-white.mt-15(href='#')
                    | Contact Us
                    i.fa.fa-angle-double-right.ml-5

            .col-md-8
              .text-center
                h3.text-uppercase.text-white.bg-dark-transparent-light.font-30.inline-block.pl-30.pr-30.mb-5.pt-5.pb-5 Get the Medical Care You Need
                h1.text-uppercase.text-white.mt-0.inline-block.bg-theme-colored-transparent.pl-40.pr-40.pt-5.pb-5.font-42 Right Away

  section#intro
    .container.pb-0
      .row
        .col-md-8
          h4.sub-title Don’t Wait – Seek Medical Care Right Away!
          h2.title COME TO FAIR LAKES URGENT CARE CENTER FOR TREATMENT

          p Did you sustain minor injuries in a household accident? Battling a stubborn cold that’s suddenly gotten worse? Need a physical exam before you can start your new job? For all your healthcare needs, turn to the talented staff at Fair Lakes Urgent Care Center. We’ve been healing injuries and performing exams on residents of Fairfax, VA and the surrounding areas 
            a.text-theme-colored(href="/content/about/") since 1995, when our urgent care center was founded by Dr. Charles Okorie
            | . If you’re in need of routine or urgent medical care, walk-in or make an appointment at our urgent care clinic today.
                  
          h3 Fast and Convenient service for appointments and walk-ins
          p If you need to schedule routine tests, follow-up x-rays, physical examinations, primary care, immediate care or needcome in for drug testing, the dedicated and experienced medical staff members at Fair Lakes Urgent Care Center are always ready to help. Walk-ins are welcome, though we request that you attempt to make an appointment if possible. 
            a.text-theme-colored(href="/contact/") Call now to speak with a staff member. 

          h3 A range of comprehensive services
          p The service list at Fair Lakes Urgent Care Center in Fairfax, VA is extensive. Our staff members are extremely knowledgeable and have access to equipment that allows us to meet a variety of your healthcare needs. A handful of the services we provide include:
          .row
            .col-md-12.col-md-offset-1
              ul.list.theme-colored.check
                li Urgent care
                li Pre-employment physical exams
                li On-site x-rays
                li Physicals
                li Aviation
                li Immigration
                li Drug screening & testing
          p If you have any questions about our medical services or you know you need to get a physical exam or x-ray, call the Fair Lakes Urgent Care Center in Fairfax, VA today and discuss your needs with an experienced team member. Walk-ins are welcome, though making an appointment guarantees we’ll see you quickly. We look forward to serving you!

        .col-md-4
          .list_block.type_article.a2.column_amt_3.no_set_height.small.not_well
            .item_1.the_list_item.center.not_hero.no_image.no_heads.yes_desc
              .the_list_wrap
                .the_list_item_heads
                .the_list_item_desc.txt_color
                  p
                  center
                    div(style='text-align: center; width: 200px')
                      img(src='/assets/images/patients-choice-winner-2016.png', alt='Top 10 family doctors in Fairfax, VA 2016')
                      a(href='https://www.opencare.com/family-doctors/fairfax-va/#tc24630301761')
                      center
                        a(href='https://www.opencare.com/family-doctors/fairfax-va/#tc24630301761') Fair Lakes Urgent Care Center
                        |  has been recognized as one of the top urgent care centers in Fair Lakes.
                      span(style='color: #777') Verified by
                      a(href='https://www.opencare.com', style='color: #777') Opencare.com
                  p
            .item_2.the_list_item.center.not_hero.yes_image.no_heads.no_desc
              .the_list_wrap
                .the_list_item_image
                  a(href='/assets/images/certificate-1.jpg', rel='lightbox', data-lightbox='lightbox-efb1340d_e2de_4b1d_ed04_49189007d7c1', data-title='')
                    img.item_image(alt='', data-src='', border='0', src='/assets/images/certificate-1.jpg')
                .the_list_item_heads

          .text-center
            h2.font-playfair.text-uppercase.mt-0.mb-10 Find Us
            img.mb-10(src='/assets/images/title-icon.png', alt='')
          .map-canvas.autoload-map(data-address= practice.address, data-popupstring-id='#popupstring1', data-mapstyle='style2', data-height='420', data-latlng= practice.latlon, data-title='Practice Address', data-zoom='12', data-marker='/assets/images/map-marker.png')
            #popupstring1.map-popupstring.hidden
              .text-center
                h4= practice.name
                p= practice.address
                  br
                  span= practice.city 
                  |, 
                  span= practice.state
                  |  
                  span= practice.zip
                  br
                  | Phone:  
                  span= practice.phone
                  br
                  | Fax: 
                  span= practice.fax
                  br
                  | Email: 
                  span= practice.email
            script(src='http://maps.google.com/maps/api/js?key=AIzaSyAYWE4mHmR9GyPsHSOVZrSCOOljk8DU9B4')
            script(src='/assets/js/google-map-init.js')
          br
          br
          h4.text-theme-colored.line-bottom.mt-0.mb-30.mt-sm-20 GET IN TOUCH
          p
            | Please use the form below to get in touch with us. One of our staff members will contact you shortly.
          //- Contact Form
          form#contact_form(name='contact_form', action='includes/sendmail.php', method='post')
            .row
              .col-sm-6
                .form-group.mb-30
                  input#form_name.form-control(name='form_name', type='text', placeholder='Enter Name', required='')
              .col-sm-6
                .form-group.mb-30
                  input#form_email.form-control.required.email(name='form_email', type='email', placeholder='Enter Email')
            .row
              .col-sm-6
                .form-group.mb-30
                  input#form_subject.form-control.required(name='form_subject', type='text', placeholder='Enter Subject')
              .col-sm-6
                .form-group.mb-30
                  input#form_phone.form-control(name='form_phone', type='text', placeholder='Enter Phone')
            .form-group.mb-30
              textarea#form_message.form-control.required(name='form_message', rows='5', placeholder='Enter Message')
            .form-group.mb-30
              input#form_botcheck.form-control(name='form_botcheck', type='hidden', value='')
              button.btn.btn-dark.btn-theme-colored.btn-flat(type='submit', data-loading-text='Please wait...') Submit

  //- Section: Services
  section#services.text-center
    .container.pb-50
      .section-title.icon-bg
        .row
          .col-md-6.col-md-offset-3.text-center
            h2.font-playfair.text-uppercase.mt-0.mb-10 Services
            img.mb-10(src='/assets/images/title-icon.png', alt='')
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi molestiae autem fugit illo ipsa numquam, quod iusto enim.
      .section-content
        .row.features-style1
          .col-sm-4
            .icon-box.p-30.mb-30.border-3px
              a(href='#')
                i.icon-ambulance14.text-theme-colored
              .features-details
                h5 Urgent Care
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
              a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
          .col-sm-4
            .icon-box.p-30.mb-30.border-3px
              a(href='#')
                i.icon-illness.text-theme-colored
              .features-details
                h5 Physical Exams
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
              a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
          .col-sm-4
            .icon-box.p-30.mb-30.border-3px
              a(href='#')
                i.icon-hurted.text-theme-colored
              .features-details
                h5 Wound care
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
              a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
          .col-sm-4
            .icon-box.p-30.mb-30.border-3px
              a(href='#')
                i.icon-xray2.text-theme-colored
              .features-details
                h5 On-site X-Rays
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
              a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
          .col-sm-4
            .icon-box.p-30.mb-30.border-3px
              a(href='#')
                i.icon-hospital35.text-theme-colored
              .features-details
                h5 Drug Screenings
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
              a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
          .col-sm-4
            .icon-box.p-30.mb-30.border-3px
              a(href='#')
                i.icon-medical48.text-theme-colored
              .features-details
                h5 Audiometry
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.
              a.font-opensans.mt-30.inline-block.text-theme-colored(href='#')  Read More
  
  //- Section: Testimonials
  section.divider.parallax.layer-overlay.overlay-light(data-stellar-background-ratio='0.5', data-bg-img='/assets/images/happy-patients.jpg')
    .container
      .row
        .col-md-8.col-md-offset-2
          .testimonial.testimonial-carousel1
            .item
              .testimonial-wrapper.text-center
                .thumb
                  img.img-circle(alt='', src='/assets/images/amy.jpg')
                .content.pt-10
                  p.lead
                    | This was one of the best experiences that I had in a medical facility. All doctors were professional and the staff was friendly.
                  i.fa.fa-quote-right.font-36.mt-10.text-gray-lightgray
                  h5.author.text-theme-colored.mb-0 Melanie J.
                  h6.title.text-gray.mt-0.mb-15 Gainesville, VA
            .item
              .testimonial-wrapper.text-center
                .thumb
                  img.img-circle(alt='', src='/assets/images/michelle.jpg')
                .content.pt-10
                  p.lead
                    | I am just over joyed the wonderful service I received the Doctor was very knowledgeable and made sure I was throughly better. The lady working the Front desk love her the nurse taking my vitals genuine. I definitely will return. No doubt. 
                  i.fa.fa-quote-right.font-36.mt-10.text-gray-lightgray
                  h5.author.text-theme-colored.mb-0 Darnette P.
                  h6.title.text-gray.mt-0.mb-15 Fayeteville, VA
            .item
              .testimonial-wrapper.text-center
                .thumb
                  img.img-circle(alt='', src='/assets/images/sam.jpg')
                .content.pt-10
                  p.lead
                    | Fast and knowledgeable in regards to USCIS green card medical procedures. My wife was missing one vaccine from her fiance visa back home. They were very helpful in getting the paperwork completed and the missing vaccine applied for a low price. Other places wanted to redo the entire paperwork and charge tons of money.
                  i.fa.fa-quote-right.font-36.mt-10.text-gray-lightgray
                  h5.author.text-theme-colored.mb-0 Sam S.
                  h6.title.text-gray.mt-0.mb-15 Purvelleville, VA
