extends ../layouts/layout.pug

block head
  title #{application} &middot; Review Detail

block content
  .container
    .row
      .col-sm-6.col-sm-offset-3
        br
        br
        legend
          h2 Survey of #{survey.patient.name}
          p
            | Survey status:&nbsp;
            strong
              +survery_status(survey.status)
        - if (!survey.answers)
          h3 Patient didn't take a part in a survey yet.
        - else
          each question, i in survey.questions
            .row
              .col-md-6
                h3 #{question}
              .col-md-6
                span(style='font-size: 40px;color:gold;')
                  +star_mixin(survey.answers[i]).fa-fw
          hr
    .row
      .col-sm-8.col-sm-offset-3
        h4 Patient Feedback
      .col-sm-8.col-sm-offset-3
        textarea.form-control(readonly='true', rows='6', name='details') #{survey.details}
        hr
        a.btn.btn-success(href='/app/patient-reviews')
          i.fa.fa-check
          | &nbsp;Go Back

    hr
    p.text-muted <em>#{application}
      a(href='/app/terms')  Terms of Use
      |  and
      a(href='/app/privacy')  Privacy Policy.</em>
