extends ../layouts/layout.pug

block head
  title #{application} &middot; Provider Detail

block content
  .container
    .row
      .col-sm-6.col-sm-offset-3
        br
        br
        legend
          h2 Provider Information
          p
            strong Name&nbsp;&nbsp;
            | #{provider.name}
          p
            strong Email&nbsp;&nbsp;
            | #{provider.email}
          p
            strong Phone&nbsp;&nbsp;
            | #{formatPhone(provider.phone)}
          
          hr
          hr
          h2 Review Sites
          h6
          p  
            strong Yelp ID&nbsp;&nbsp;
            | #{provider.review_sites.yelp}
          p  
            strong Google ID&nbsp;&nbsp;
            | #{provider.review_sites.google}
          p  
            strong HealthGrades.com ID&nbsp;&nbsp;
            | #{provider.review_sites.healthgrades}
          p  
            strong Vitals.com ID&nbsp;&nbsp;
            | #{provider.review_sites.vitals}
          p  
            strong MDReviews.com ID&nbsp;&nbsp;
            | #{provider.review_sites.mdreviews}
          p  
            strong YellowPages ID&nbsp;&nbsp;
            | #{provider.review_sites.yellowpages}
        hr
        a.btn.btn-success(href='/app/providers')
          i.fa.fa-check
          | &nbsp;Go Back

    hr
    p.text-muted <em>#{application}
      a(href='/app/terms')  Terms of Use
      |  and
      a(href='/app/privacy')  Privacy Policy.</em>
