meta(charset="utf-8")
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="geo.region", content="US-VA")
meta(name="geo.placename", content="Sterling")
meta(name="geo.position", content="39.030434;-77.397063")
meta(name="ICBM", content="39.030434, -77.397063")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
//- meta(name="description", content=getPreparedDescription())
//- meta(name="keywords", content=getPreparedKeywords())
meta(name="author", content=author || '')
meta(name="msvalidate.01", content='5DB607F4C363F89A4D50B0EE7C63C8A9')
meta(property="og:title", content="MDOCS Digital Practice")
meta(property="og:type", content="website")
meta(property="og:url", content="http://www.MDOCS.co")
meta(property="og:site_name", content="MDOCS, Inc.")
meta(property="og:image", content="/assets/img/favicon.png")
meta(property="og:description", content="MDOCS provides Digital Practice solutions.")
meta(property="fb:admins", content="1234567890")
meta(name="twitter:card", content="summary")
meta(name="twitter:description", content="MDOCS provides Digital Practice solutions.")
meta(itemprop="image", content="/assets/img/favicon.png")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
meta(name="HandheldFriendly", content="True")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name='robots', content='noindex,nofollow')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')

//- != getBlock('meta').toHTML()

link(rel="shortcut icon", href="/assets/img/favicon.png")
link(rel='shortcut icon', type='image/x-icon', href='/assets/img/favicon.ico')

link#dashicons-css(rel='stylesheet', href='/assets/css/dashicons.min.css', type='text/css', media='all')
link#thickbox-css(rel='stylesheet', href='/assets/css/thickbox.css', type='text/css', media='all')
link#cms-store-css-css(rel='stylesheet', href='/assets/css/style.css', type='text/css', media='all')
link#save-theme-admin-css-css(rel='stylesheet', href='/assets/css/styles.css', type='text/css', media='all')
link#cms-domain-css-css(rel='stylesheet', href='/assets/css/gd_domain.css', type='text/css', media='all')
link#jquery-ui-css(rel='stylesheet', href='/assets/css/jquery-ui.css', type='text/css', media='all')
link#custom-css-css(rel='stylesheet', href='/assets/css/custom-css.css', type='text/css', media='all')
link#Source-Sans-Pro-css(rel='stylesheet', href='/assets/css/sanspro.css', type='text/css', media='all')
link#theme-css(rel='stylesheet', href='/assets/css/theme.css', type='text/css', media='all')
link#customize-css(rel='stylesheet', href='/assets/css/theme-customize.css', type='text/css', media='all')
link#b2b-list-frontend-styles-css(rel='stylesheet', href='/assets/css/styles-fe.css', type='text/css', media='all')
link#b2b-map-frontend-styles-css(rel='stylesheet', href='/assets/css/map-styles.css', type='text/css', media='all')
//- link(rel='stylesheet', href='/assets/css/translateelement.css', type='text/css', media='all')
//- link(rel='stylesheet', href='/assets/css/theme-ie8.css', type='text/css', media='all')

link(rel='stylesheet', href='/assets/css/pw.css', type='text/css', media='all')

link(rel="stylesheet", type="text/css", href="/assets/lib/slick/slick.css")
link(rel="stylesheet", type="text/css", href="/assets/lib/slick/slick-theme.css")

script(src='/assets/js/core/jquery.min.js')
//- script(src='/assets/js/pw.js')
//- script(src='/assets/js/core/jquery.flexslider-min.js')
//- script(src='/assets/js/core/jquery.validate.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.1/jquery.datetimepicker.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js')
//- script(src='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js')

//- script(src='/assets/js/core/bootstrap.min.js')
//- script(src='/assets/js/core/jquery.slimscroll.min.js')
//- script(src='/assets/js/core/jquery.scrollLock.min.js')
//- script(src='/assets/js/core/jquery.appear.min.js')
//- script(src='/assets/js/core/jquery.countTo.min.js')
//- script(src='/assets/js/core/jquery.placeholder.min.js')
//- script(src='/assets/js/core/js.cookie.min.js')

//- include ./editor-scripts.pug

title= title
