section.practice-service
  .photo-layout.hero-media(style='display: block; background: url("/assets/img/1395837.png") 50% 0px / cover no-repeat;')
    .cloak
  include ../socialIcons.pug
  .row
    .left
      figure
        img(src=practice.logo.big, width='200', height='200', alt=practice.name)
      h2= practice.name
      h3= practice.description 
        |  located in  
        span= practice.city
        |, 
        span= practice.state
    .right
      h1= data.header
      .service-description= data.description
      ul.booking-options
        li
          a.btn-call(href= 'tel:' + practice.phone)
            i.fa.fa-phone
            span.mm-phone-number.phoneupdated= practice.phone
        li
          button.btn-book-online(type='button', data-practiceid='1', data-locationid='1')
            | Book Online
    .clear-40
