extends ./layout/layout.pug

block head
  title #{application} &middot; Page
  include ./partials/editor-header.pug

block styles
  style.
    textarea[name="ro-ot[htmlContent]"] {
      height: 350px
    }

block scripts
  include ./partials/editor-scripts.pug
  script(src='/app/js/jsoneditor.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js')
  script(src='/app/js/sitebuilder.js')

  script.
   (function(init) {
      var uploadOptions = !{uploadOptions}
      JSONEditor.defaults.editors.froala.options = {
        toolbarInline: false,
        iframe: true,
        fileUploadURL: uploadOptions.fileUploadURL,
        fileUploadParams: uploadOptions.fileUploadParams
      };
      init(window.jQuery, window, document);
    }(function($, window, document) {
      var jsoneditor;
      var options = {
        theme: 'bootstrap3',
        iconlib: 'fontawesome4',
        disable_collapse: true,
        disable_edit_json: true,
        disable_properties: true,
        schema: !{schema}
      };
      var page = !{page}

      function saveChanges(e) {
        var values = jsoneditor.getValue();
        var form = $('form.js-save-content')
        $('[name="content"]', form).val(JSON.stringify(values))
        form.submit()
      }
      $(function() {

        var element = document.querySelector('.json-editor-holder');
        jsoneditor = new JSONEditor(element, options);
        jsoneditor.setValue(page);

        $('[data-toggle="tooltip"]').tooltip();

        var clipboard = new Clipboard('.action-copy-permalink', {
          text: function(event) {
            return event.getAttribute('data-permalink');
          }
        });

        $('.action-save-changes').on('click', saveChanges)
      });
    }));

block content
  .container-fluid
    .hidden
      form.js-save-content(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        input(type='hidden', name='content')
    .row
      .col-md-1.col-md-offset-10
        button.btn.btn-primary.pull-right.action-save-changes Save Changes
    if permalink
      br
      .row
        .col-md-5.col-md-offset-1
          label Permalink
          .input-group
            input.form-control(type="text", readonly=true, value=permalink)
            span.input-group-btn
              button.btn.btn-default.action-copy-permalink(type="button", data-toggle="tooltip" data-placement="top" data-original-title="Copy to Clipboard" data-permalink=permalink)
                i.fa.fa-clipboard
      br
    .row
      .col-md-10.col-md-offset-1
        .json-editor-holder
    .row
      .col-md-1.col-md-offset-10
        button.btn.btn-primary.pull-right.action-save-changes Save Changes

