extends ./layout/layout.pug

block head
  title #{application} &middot; Pages

block styles
  style.
    .pages-table {
      table-layout:fixed;
    }

    .pages-table td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .action-cell {
      text-align: center;
    }
    .permalink-cell {
      width: 40px;
    }

block content
  .container-fluid
    .row
      .col-md-12
        a.action-new-page.btn.btn-success.pull-center(href="#") New Item
        #wrapper
          #userList
            table.table.table-striped.pages-table
              thead
                th.permalink-cell
                  each hdr in contentHeaders
                    th(class=hdr.css) #{hdr.title}
                th.action-cell Actions
              tbody
                each page, i in contentItems
                  tr
                    td.permalink-cell
                      a.action-copy-permalink.btn.btn-default.btn-xs(href='#', data-toggle="tooltip", data-placement="right", title='', type="button", data-original-title="Copy Permalink to Clipboard", data-permalink=permalinks[i])
                        i.action-copy-permalink.fa.fa-clipboard(data-permalink=permalinks[i])
                    each hdr, hdrIdx in contentHeaders
                      td(class=hdr.css)
                        if (hdrIdx === 0)
                          a.label.label-default(href=contentKey + '/' + i)
                            strong #{page[hdr.ref]}
                        else
                          span #{page[hdr.ref]}
                    td.action-cell
                      a.btn.btn-default.btn-xs(href='preview/'+i data-toggle="tooltip" data-placement="top" title="" type="button" data-original-title="Preview Page in a new window") Preview
                      | &nbsp;
                      a.action-delete-page.btn.btn-danger.btn-xs(href="#", data-page-id=i data-toggle="tooltip" data-placement="top" title="" type="button" data-original-title="Delete Page") Delete&nbsp;

block scripts
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js')
  script.

    // DOM Ready =============================================================
    (function(init) {
      init(window.jQuery, window, document);
    }(function($, window, document) {

      $(function() {

        //- Async Load Bootstrap Modal
        $.ajax({
          type: 'GET',
          url: '/app/lib/bootstrap/js/modal.js',
          dataType: 'script',
          cache: true
        });

        $('[data-toggle="tooltip"]').tooltip();

        var clipboard = new Clipboard('.action-copy-permalink', {
          text: function(event) {
            return '/' + event.getAttribute('data-permalink');
          }
        });
      });
    }));
