extends ../layouts/layout.pug

block head
  title #{application} &middot; Patient Reviews &middot; New Profile

block styles
  style.
    .progress {
      background-color: black;
      -webkit-box-shadow: none;
      box-shadow: none;
      height: 5px;
    }

    ul.nav > li {
      width: 33%;
      text-align: center;
    }

    .wrapper {
      text-align: center;
    }

block content
  .content.bg-gray-lighter
    .row.items-push
      .col-sm-7
        h1.page-heading
          - if (_.isEmpty(profile))
            | New Profile  
          - else
            | Edit Profile  
        small Add or edit a provider or office location.
      .col-sm-5.text-right.hidden-xs
        ol.breadcrumb.push-10-t
          li 
            a.link-effect(href='/app/dashboard') Dashboard
          li
            a.link-effect(href='/app/pr/phi/patient-reviews') Patient Reviews
          li
            a.link-effect(href='/app/pr/profiles') Profiles
          li
            a.link-effect(href='/app/pr/new-profile') New Profile
  
  .content.bg-white
    .row
      .col-md-12
        .progress
          .progress-bar.progress-bar-success(role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 33%;")
        .arrow-nav
          ul
            li.active
              a(href='#profileType' data-toggle="tab" data-step="1") 1. Select Type
            li
              a(href='#profileInfo' data-toggle="tab" data-step="2") 2. Profile Details
            li
              a(href='#profileSites' data-toggle="tab" data-step="3") 3. Review Sites
            li
              a(href='#profileCreate' data-toggle="tab" data-step="4") 4. Confirm
        br
        - var actionValue = 'new-profile'
        if (!_.isEmpty(profile))
          - actionValue = '../update-profile'
        form#profileform(action=actionValue, method='POST')
          input.form-control(type='hidden', name='editID', id='editID')
          input.form-control(type='hidden', name='_csrf', value=_csrf)
          .tab-content
            #profileType.tab-pane.fade.in.active
              .well
                h4 Please choose the profile type
                br
                .radio
                  label
                    input(type="radio", name="profileType", id="providerRadio", checked="checked", value='Provider') 
                    | Provider (Doctor)
                .radio
                  label
                    input(type="radio", name="profileType", id="locationRadio", value='Location') 
                    | Location (Office)
              a.btn.btn-success.btn-lg.next.pull-right(href="#") Continue >
              br
              br
              br
            #profileInfo.tab-pane.fade
              .well
                .form-group
                  h4 Profile name
                  br
                  label.sr-only(for='name') Name
                  input.form-control(type='text', name='name', id='name', placeholder='Profile name')
                .form-group
                  h4 Email
                  br
                  label.sr-only(for='email') Profile email
                  input.form-control(type='email', name='email', id='email', placeholder='Profile email')
                  #hint
                #addressArea.form-group
                  h4 Address
                  br
                  label.sr-only(for='address') Address
                  input.form-control(type='text', name='address', id='address', placeholder='Profile address')
                .form-group
                  h4 Phone number
                  br
                  label.sr-only(for='phoneMobile') Phone
                  input.form-control(type='tel', name='phoneMobile', id='phoneMobile', placeholder='Phone number e.g. (703) 123-4567', pattern='/(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]‌​)\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]‌​|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})/', title='Phone Number: +1 (999) 999-9999')
              a.btn.btn-info.btn-lg.prev(href="#") < Back
              a.btn.btn-success.btn-lg.next-validate.pull-right(href="#") Continue >
            #profileSites.tab-pane.fade
              .well
                h4 Please provide your Review Sites 
                br
                h5 
                  strong ADD A REVIEW SITE
                br
                h4#dropdownWarningLabel.wrapper(style='color:red;') No Site Selected!
                .form-group
                  select#dropdown(data-placeholder='Choose a Review Site...' onchange="checkRemoveWarning()")
                    option(value='')
                label Review Site Link
                h4#linkWarningLabel.wrapper(style='color:red;') Please Provide a Link!
                input#siteLink.form-control.input-lg(name='siteLink', placeholder='Paste the link here: e.g. http://www.yelp.com/biz/movel-sterling')
                br
                .wrapper
                  a#addSite.btn.btn-primary.btn-lg
                    i.fa.fa-check
                    |  Add Review Site
                br
                h5 
                  strong SAVED REVIEW SITES
                br
                .form-group
                  table#sitesTable.table.table-striped
                    thead
                      th Site Name
                      th Site Link
                      th Actions
                h4#submitWarningLabel.wrapper(style='color:red;') Please Add at Least One Review Site!
              a.btn.btn-info.btn-lg.prev(href="#") < Back
              a.btn.btn-success.btn-lg.next-check-sites.pull-right(href="#") Continue >
            #profileCreate.tab-pane.fade
              .well
                br
                p By creating a new Profile/Location, your plan and pricing will be automatically updated as follows. To proceed, click 'Create Profile'.
                br
                .row
                  .col-md-12
                    table.table
                      tr
                        td.col-md-3
                          strong Current Payment
                        td.col-md-9
                          strong #{formatCents(currentInvoiceLine.plan.amount)}
                          | &nbsp;per&nbsp;
                          strong #{currentInvoiceLine.plan.interval}
                          | &nbsp;for&nbsp;
                          strong #{currentInvoiceLine.quantity}
                          | &nbsp;subscriptions. Total&nbsp;
                          strong #{formatCents(currentInvoice.total)}
                      tr
                        td.col-md-3
                          strong Updated Payment
                        td.col-md-9
                          strong #{formatCents(currentInvoiceLine.plan.amount)}
                          | &nbsp;per&nbsp;
                          strong #{currentInvoiceLine.plan.interval}
                          | &nbsp;for&nbsp;
                          strong #{currentInvoiceLine.quantity + 1}
                          | &nbsp;subscriptions. Total&nbsp;
                          strong #{formatCents(currentInvoice.total)}
              a.btn.btn-info.btn-lg.prev(href="#") < Back
              a#saveprofilebutton.btn.btn-success.btn-lg.create.pull-right(href="#") Create Profile

block scripts
  script(type='text/javascript', src='/app/lib/bootstrap/js/tab.js')
  script.
    // Profile passed in, if any
    const profile = !{JSON.stringify(profile)};

    // DOM Ready =============================================================
    (function(init) {
      init(window.jQuery, window, document);
    }(function($, window, document) {

      $(function() {

        //- Async Load Bootstrap Modal
        $.ajax({
          type: 'GET',
          url: '/app/lib/bootstrap/js/modal.js',
          dataType: 'script',
          cache: true
        });

        // Initially hide warning labels
        $('#dropdownWarningLabel').hide();
        $('#linkWarningLabel').hide();
        $('#submitWarningLabel').hide();

        // Creating New Profile
        if(profile == null || profile === '') {
          // Initially hide address area
          $('#addressArea').hide();
        }
        else { 
          // Editing Profile
          if(profile.type === 'Provider') {
            $('#providerRadio').attr('checked', 'checked');
            $('#addressArea').hide();
          }
          else {
            $('#locationRadio').attr('checked', 'checked');
            $('#address').val(profile.address);
          }
          $('#editID').val(profile.id);
          $('#name').val(profile.name);
          $('#email').val(profile.email);
          $('#phoneMobile').val(profile.phone);
        }

        // Set up dropdown options and initialize Chosen.js
        $('select').chosen({width: "100%"});
        setUpSites();

        // Setting Up Validation
        $('#profileform').validate({
          rules: {
            name: "required",
            email: {
              required: true,
              email: true
            },
            address: {
              required: {
                depends: function (element) {
                  return $('#locationRadio').is(':checked');
                }
              }
            },
            phoneMobile: {
              required: true
            }
          },
          messages: {
            name: "Please provide the full name",
            email: {
              required: "We need an email address to contact",
              email: "The email address must be in the format of name@domain.com"
            },
            address: {
              required: "Please provide the location's address"
            },
            phoneMobile: {
              required: "Please provide a phone to contact"
            }
          }
        });

        // Fire event when input radio button is clicked
        $('input[type="radio"]').on('click', inputChanged);

        // Fire event when tab is clicked
        $('a[data-toggle="tab"]').on('show.bs.tab', allowTabChange);
        $('a[data-toggle="tab"]').on('shown.bs.tab', tabChanged);

        // Fire event when 'Back' is clicked
        $('.prev').on('click', pageChange);

        // Fire event when 'Continue' is clicked
        $('.next').on('click', pageChange);
        $('.next-validate').on('click', pageChange);
        $('.next-check-sites').on('click', pageChange);

        // Fire event when 'Add Review Site' is clicked
        $('#addSite').on('click', addSite);

        // Fire event when 'Create Profile' is clicked
        $('#saveprofilebutton').on('click', submitForm);
      });
    }));

    // Functions =============================================================

    // Get pretty site name
    function getFullSiteName(short) {
      switch(short) {
        case 'yelp':
          return 'Yelp';
        case 'google':
          return 'Google Plus';
        case 'healthgrades':
          return 'HealthGrades.com';
        case 'vitals':
          return 'Vitals.com';
        case 'ratemds':
          return 'RateMDs.com';
        case 'yellowpages':
          return 'YellowPages';
        default:
          return '';
      }
    }

    // Add a site to table
    function saveSiteToTable(siteName, siteLink) {
      var sitesTable = document.getElementById('sitesTable');
      var row = sitesTable.insertRow();
      var cell1 = row.insertCell();
      cell1.innerHTML = getFullSiteName(siteName);
      var cell2 = row.insertCell();
      cell2.innerHTML = '<input type="hidden", class="form-control", name="' + siteName + '" value="' + siteLink + '"/>' + '<a name="' + siteName + '", target="_blank", href="' + siteLink + '">' + siteLink + '</a>';
      var cell2 = row.insertCell();
      cell2.innerHTML = '<a class="linkremoveprofile btn btn-danger btn-xs", href="#", data-profileId="' + siteName + '"> Remove&nbsp;</a>';
      // Fire event when 'Remove Review Site' is clicked
      $('.linkremoveprofile').on('click', removeSite);
    }

    // Add a site to dropdown
    function addToDropdown(siteName) {
      $('select').append('<option value="' + siteName + '">' + getFullSiteName(siteName) + '</option>').trigger("chosen:updated");
    }

    // Set Up Review Sites
    function setUpSites() {
      // Yelp
      if(profile != '' && profile.review_sites.yelp != null) {
        saveSiteToTable('yelp', profile.review_sites.yelp);
      }
      else {
        addToDropdown('yelp');
      }
      // Google Plus
      if(profile != '' && profile.review_sites.google != null) {
        saveSiteToTable('google', profile.review_sites.google);
      }
      else {
        addToDropdown('google');
      }
      // HealthGrades.com
      if(profile != '' && profile.review_sites.healthgrades != null) {
        saveSiteToTable('healthgrades', profile.review_sites.healthgrades);
      }
      else {
        addToDropdown('healthgrades');
      }
      // Vitals.com
      if(profile != '' && profile.review_sites.vitals != null) {
        saveSiteToTable('vitals', profile.review_sites.vitals);
      }
      else {
        addToDropdown('vitals');
      }
      // RateMDs.com
      if(profile != '' && profile.review_sites.ratemds != null) {
        saveSiteToTable('ratemds', profile.review_sites.ratemds);
      }
      else {
        addToDropdown('ratemds');
      }
      // YellowPages
      if(profile != '' && profile.review_sites.yellowpages != null) {
        saveSiteToTable('yellowpages', profile.review_sites.yellowpages);
      }
      else {
        addToDropdown('yellowpages');
      }
    }

    // Add review site
    function addSite(event) {
      // Prevent Link from Firing
      event.preventDefault();

      const siteName = $('select').val();
      const siteLink = $('#siteLink').val();

      // Display warnings if needed
      if(siteName === '') { 
        $('#dropdownWarningLabel').show();
      }
      else if($('#dropdownWarningLabel').is(':visible')) {
        $('#dropdownWarningLabel').hide();
      }
      if(siteLink === '') { 
        $('#linkWarningLabel').show();
      }
      else if($('#linkWarningLabel').is(':visible')) {
        $('#linkWarningLabel').hide();
      }

      if(siteName !== '' && siteLink !== '')
      {
        if($('#submitWarningLabel').is(':visible')) {
          $('#submitWarningLabel').hide();
        }
        saveSiteToTable(siteName, siteLink);
        // Removing from options
        $('select option[value=' + siteName + ']').remove();
        // Cleaning up values
        $('#siteLink').val('');
        $('select option')
          .removeAttr('selected')
          .filter('[value=""]')
          .prop('selected', true);
        $('select').trigger('chosen:updated');
      }
    }

    // Remove Review Site
    function removeSite(event) {
      // Prevent Link from Firing
      event.preventDefault();
      
      var siteName = $(event.target).data('profileid');
      addToDropdown(siteName);
      $(this).parents('tr').remove();
    }

    // Diplay change in dropdown selection
    function checkRemoveWarning(event) {
      if($('select').val() !== '' && $('#dropdownWarningLabel').is(':visible')) {
        $('#dropdownWarningLabel').hide();
      }
    }

    // Hide/Show address area based on the profile type
    function inputChanged(event) {
      $(this).attr('id') === 'locationRadio' ? $('#addressArea').show() : $('#addressArea').hide();
    }

    // Check if tab click is allowed
    function allowTabChange(event) {
      const step = $(event.target).data('step');

      if(step === 3) {
        const currentStep = $(event.relatedTarget).data('step');
        if(currentStep === 1) {
          // Disallow to skip tab 2
          event.preventDefault();
          $('[href="#profileInfo"]').tab('show');
        }
        else if (currentStep === 2 && !$('#profileform').valid()) {
          // Disallow if form not validated
          event.preventDefault(); 
        }
      }
      if(step === 4) {
        const currentStep = $(event.relatedTarget).data('step');
        const sitesTable = document.getElementById('sitesTable');
        if(currentStep === 1) {
          // Disallow to skip tab 2
          event.preventDefault();
          $('[href="#profileInfo"]').tab('show');
        }
        else if (currentStep === 2) {
          event.preventDefault(); 
          if($('#profileform').valid()) {
            // Allow only if form validated
            console.log('a');
            $('[href="#profileSites"]').tab('show');
          }
        }
        else if (currentStep === 3 && sitesTable.rows.length === 1) {
          // Disallow if no review sites added
          $('#submitWarningLabel').show();
          event.preventDefault(); 
        }
      }
    }

    // Tab clicked
    function tabChanged(event) {
      // Prevent Link from Firing
      event.preventDefault();

      //- console.log('tab changed');
      //- $(".chosen-select").chosen({width: "95%"}); 

      // Update progress bar
      var step = $(event.target).data('step');
      var percent = (parseInt(step) / 4) * 100;
      $('.progress-bar').css({width: percent + '%'});
    }

    // Back or Continue clicked
    function pageChange(event) {
      // Prevent Link from Firing
      event.preventDefault();

      if($(this).hasClass('next')) {
        // Next Tab
        var nextId = $(this).parents('.tab-pane').next().attr("id");
        $('[href="#'+nextId+'"]').tab('show');
      }
      else if($(this).hasClass('prev')) {
        // Previous Tab
        var nextId = $(this).parents('.tab-pane').prev().attr("id");
        $('[href="#'+nextId+'"]').tab('show');
      }
      else if($(this).hasClass('next-validate')) {
        if($('#profileform').valid()) {
          // Next Tab
          var nextId = $(this).parents('.tab-pane').next().attr("id");
          $('[href="#'+nextId+'"]').tab('show');
        }
      }
      else if($(this).hasClass('next-check-sites')) {
        const sitesTable = document.getElementById('sitesTable');
      
        if(sitesTable.rows.length === 1) {
          $('#submitWarningLabel').show();
        }
        else {
          // Next Tab
          var nextId = $(this).parents('.tab-pane').next().attr("id");
          $('[href="#'+nextId+'"]').tab('show');
        }
      }
    }

    // Creating Profile
    function submitForm(event) {
      // Prevent Link from Firing
      event.preventDefault();

      $('#profileform').submit();
    }

