.standardcontainer
  #menu.maincontent
    .drop-down-container
      a.toggleMenu(href='#', style='display: none;') Menu
      ul.nav
        each menuitem in menu
          li
            if menuitem.red == true
              a.ec(href=menuitem.href) #{menuitem.caption}
            else
              if menuitem.submenu
                a.off.parent(href=menuitem.href) #{menuitem.caption}
                ul
                  each sub_menuitem, index in menuitem.submenu
                    case index
                      when 0
                        li.no-top-border.left
                          a(href=sub_menuitem.href) #{sub_menuitem.caption}
                      when 1
                        li.no-top-border
                          a(href=sub_menuitem.href) #{sub_menuitem.caption}
                      default
                        if index % 2 == 0
                          li.left
                            a(href=sub_menuitem.href) #{sub_menuitem.caption}
                        else
                          li
                            a(href=sub_menuitem.href) #{sub_menuitem.caption}
                  li.last
              else
                a.off(href=menuitem.href) #{menuitem.caption} 