doctype strict
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Request a Review
    style(type='text/css').
      /* Client-specific Styles */
      #outlook a {padding:0;} /* Force Outlook to provide a "view in browser" menu link. */
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
      .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  */
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
      img {outline:none; text-decoration:none;border:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}
      p {margin: 0px 0px !important;}
      table td {border-collapse: collapse;}
      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
      a {color: #FF196F;text-decoration: none;text-decoration:none!important;}
      /*STYLES*/
      table[class=full] { width: 100%; clear: both; }
      /*IPAD STYLES*/
      @media only screen and (max-width: 640px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #FF196F; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #FF196F !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 440px!important;text-align:center!important;}
      td[class=devicewidth] {width: 440px!important;text-align:center!important;}
      img[class=devicewidth] {width: 440px!important;text-align:center!important;}
      img[class=banner] {width: 440px!important;height:147px!important;}
      table[class=devicewidthinner] {width: 420px!important;text-align:center!important;}
      table[class=icontext] {width: 345px!important;text-align:center!important;}
      img[class="colimg2"] {width:420px!important;height:243px!important;}
      table[class="emhide"]{display: none!important;}
      img[class="logo"]{width:440px!important;height:110px!important;}
      }

      .surveyButton {
        -moz-box-shadow:inset 1px -1px 7px 0px #8a2a21;
        -webkit-box-shadow:inset 1px -1px 7px 0px #8a2a21;
        box-shadow:inset 1px -1px 7px 0px #8a2a21;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
        background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
        background-color:#c62d1f;
        -moz-border-radius:42px;
        -webkit-border-radius:42px;
        border-radius:42px;
        border:1px solid #d02718;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Verdana;
        font-size:28px;
        font-weight:bold;
        padding:31px 76px;
        text-decoration:none;
        text-shadow:1px 4px 3px #810e05;
      }
      .surveyButton:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
        background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
        background-color:#f24437;
      }
      .surveyButton:active {
        position:relative;
        top:1px;
      }

      /*IPHONE STYLES*/
      @media only screen and (max-width: 480px) {
      a[href^="tel"], a[href^="sms"] {
      text-decoration: none;
      color: #FF196F; /* or whatever your want */
      pointer-events: none;
      cursor: default;
      }
      .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
      text-decoration: default;
      color: #FF196F !important;
      pointer-events: auto;
      cursor: default;
      }
      table[class=devicewidth] {width: 280px!important;text-align:center!important;}
      td[class=devicewidth] {width: 280px!important;text-align:center!important;}
      img[class=devicewidth] {width: 280px!important;text-align:center!important;}
      img[class=banner] {width: 280px!important;height:93px!important;}
      table[class=devicewidthinner] {width: 260px!important;text-align:center!important;}
      table[class=icontext] {width: 186px!important;text-align:center!important;}
      img[class="colimg2"] {width:260px!important;height:150px!important;}
      table[class="emhide"]{display: none!important;}
      img[class="logo"]{width:280px!important;height:70px!important;}
      }
  body
    // Start of preheader
    table#backgroundTable(width='100%', bgcolor='#202020', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        // Spacing
                        tr
                          td(width='100%', height='20')
                        // Spacing
                        tr
                          td
                            table.devicewidthinner(width='280', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td(align='left', valign='middle', style='font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #ffffff')
                                    | Review Request from #{title} Office
                            table.emhide(width='280', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                tr
                                  td(align='right', valign='middle', style='font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #ffffff')
                                    a(href=surveyUrl, style='text-decoration: none; color: #ffffff') View Online on PracticeWin
                        // Spacing
                        tr
                          td(width='100%', height='20')
                        // Spacing
    // End of preheader
    // Start of LOGO
    table#backgroundTable(width='100%', bgcolor='#fff', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(bgcolor='#fff', width='600', align='center', cellspacing='0', cellpadding='0', border='0')
                      tbody
                        tr
                          // start of image
                          td(align='center')
                            a(target='_blank', href=surveyUrl)
                              img.logo(width='600', border='0', height='150', alt='', style='display:block; border:none; outline:none; text-decoration:none;', src='cid:logo.png')
                    // end of image
    // End of LOGO
    // start textbox-with-title
    table#backgroundTable(width='100%', bgcolor='#fff', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(bgcolor='#ffffff', width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        // Spacing
                        tr
                          td(width='100%', height='20')
                        // Spacing
                        tr
                          td
                            table.devicewidthinner(width='560', align='center', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 14px; font-weight:bold; color: #333333; text-align:left;line-height: 24px;')
                                    | Please participate in our short survey.
                                tr
                                  td(height='5')
                                tr
                                  td(style='font-family: Helvetica, arial, sans-serif; font-size: 13px; color: #333333; text-align:left;line-height: 24px;')
                                    | #{title}'s office would like to hear about your recent  appointment experience. Please click the following link for a short customer survey.
                                tr
                                  td(width='100%', height='5')
                                
    // end of textbox-with-title
    // Start of 2-columns
    table#backgroundTable(width='100%', bgcolor='#fff', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(bgcolor='#ffffff', width='100%', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        tr
                          td
                            table.devicewidth(width='100%', align='left', border='0', cellpadding='0', cellspacing='0')
                              tbody
                                // Spacing
                                tr
                                  td(width='100%', height='10')
                                // Spacing
                                tr
                                  td
                                    // start of text content table
                                    table.devicewidthinner(width='90%', align='center', border='0', cellpadding='0', cellspacing='0')
                                      tbody
                                        // image
                                        tr
                                          td(align='center')
                                            a.surveyButton(href=surveyUrl) View Survey
                                        // Spacing
                                        tr
                                          td(width='100%', height='100')
                                tr
                                  td(width='100%', height='10')
                                // Spacing
                            // end of left column
    // End of 2-columns
    // Start of postfooter
    table#backgroundTable(width='100%', bgcolor='#202020', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td
            table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
              tbody
                tr
                  td(width='100%')
                    table.devicewidth(width='600', cellpadding='0', cellspacing='0', border='0', align='center')
                      tbody
                        // Spacing
                        tr
                          td(width='100%', height='20')
                        // Spacing
                        tr
                          td(align='center', valign='middle', style='font-family: Helvetica, arial, sans-serif; font-size: 13px;color: #ffffff;line-height: 18px;')
                            | You have recevied this email because you are a patient of #{title}'s and our office is conducting a patient survey. 
                        // Spacing
                        tr
                          td(width='100%', height='20')
                        // Spacing
    // End of postfooter
