#headcontainer
  header
    a(href='/')
      img.home-photo(src='/assets/images/northern-virginia-dental-center-photo.jpg', alt='Northern Virginia Dental Arts', border='0')
    a(href='/')
      img(src='/assets/images/northern-virginia-dental-denter-logo.gif', alt='Northern Virginia Dental Arts', border='0')
    #big-contact
      // <p class="apt"><a href="/appointment.html">Make appointment</a></p>
      if practice.widgets.bookonline
        #calendar
          a.js-appointment-widget-button(style="display:block;" href="/appointment#contact-form-short")
            img(src="/assets/images/bookonline.png" style="border:0;")
      p.phone= practice.phone
      p.address #{practice.address}, #{practice.city}, #{practice.state} #{practice.zip}
