doctype html
html(lang="en")
  head
    include ../partials/header.pug
  body.PARALLAX
    include ../partials/navbar.pug
    include ../partials/raw/reviews-header.pug
    //- include ../partials/reviewsSmallFlexSlider.pug


    section.testimonials-reviews.pinstripe
      .row
        .span6
          .breadcrumb(itemprop='breadcrumb')
            a(href='/')= practice.name
            i.fa.fa-angle-right
            | Patient Reviews
        //- a(name='23367')
        each review in reviews
          section.reviews-23367
            .internal-review
              div
                .left
                  .reviewer= review.user
                  .star-rating.rating-xs.rating-disabled
                    .rating-container.rating-fa(data-content='★★★★★')
                      .rating-stars(data-content='★★★★★', style='width: 100%;')
                      //- input.read-only-rating.form-control.hide(type='number', value='5.0')
                  .review-date Submitted  
                    span= review.date
                .right
                  .type-short
                    .inner
                      .type-wrapper(style='height: auto;')
                        .type-overflow= review.reviewLong
                      //- a.read-more-review-link(href='javascript:void(0);', data-parent='.internal-review') Read more
                  .type-full= review.reviewLong

    include ../partials/contact.pug
    include ../partials/map.pug
    include ../partials/footer.pug
