section#howItWorks.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 How It Works
  .section-howitworks.text-center
    .row.row20
      .col-sm-4
        span.icon-number 1
        h2
          | Increase
          strong Visibility
        p
          | Being highly visible on page #1 of search for your top keywords is key to your success. If you’re not investing in dominating page #1 for your top keywords when prospects are looking you're losing sales to your competitors.
        p
          img(src='images/icon-angle-down.png', alt='')
        p.bottom5
          img(src='images/hiw-tpa.png', alt='')
        h3.text-tpa Top Placement Ads®
        p.bottom20 Get in the top 3 spots when a prospect searches for your top keywords.
        p.bottom5
          img(src='images/hiw-nla.png', alt='')
        h3.text-nla Natural Listing Ads®
        p.bottom20 Rank highly in organic search when a prospect searches for your top keywords.
        div
          p.bottom5
            img(src='images/hiw-lla.png', alt='')
          h3.text-lla Local Listing Ads®
          p.bottom20 Get listed in the maps and in 100's of local directories.
        .hiw-serps
          p.serps.serps-one Top Rated Local® Dentist
          p.serps.serps-two #1 Choice - Top Rated Local® Dentist
          p.serps.serps-three
            span.doctorName #{data.name}
      .col-sm-4
        span.icon-number 2
        h2
          | Increase
          strong Clickability
        p
          | Being highly visible is only part of the battle. To be successful, you also need to have a high clickablity on your listings. Meaning, prospects are motivated to click your listing over your competitor's listings.
          br
          br
        p
          img(src='images/icon-angle-down.png', alt='')
        .hiw-badge
          img(src='images/hiw-badge-trl.png', alt='')
          .badge-vertical
            p Dentist
        h3 Top Rated Local® Dentist
        p
          | This trusted program and eye catching ad copy motivates more prospects to click on your listings and visit your website.
        div
          p.bottom5.top20
            img(src='images/hiw-trl.png', alt='')
          h3.text-tpa Top Rated Local®
          p.bottom5 Rank highly in organic search when a prospect searches for your top keywords.
          .hiw-trl
            p.serps.hiw-trl__one
              span.doctorName #{data.name}
              |  Reviews
            .serps.hiw-trl__two
              p.hiw-trl__title
                span.doctorName #{data.name}
                |  Reviews
              p.hiw-trl__link
                | www.topratedlocal.com/
                span.doctorName #{data.name}
              p
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                |                             4.9 rating on 24 reviews
      .col-sm-4
        span.icon-number 3
        h2
          | Increase
          strong Convertability
        p
          | Finally, being highly visible and highly clickable does you zero good without a high convertiblity on your website that funnels visitors converting into prospects & sales at the highest possible rate!
          br
          br
        p
          img(src='images/icon-angle-down.png', alt='')
        h3 UXi® Powered Website
        p Simply the best conversion driving websites ever designed.
