section#howItWorks.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='PracticeWin')
    .header-title
      h1 How It Works
  .section-howitworks.text-center
    .row.row20
      .col-sm-4
        span.icon-number 1
        h2
          | Increase
          strong  Reviews
        p
          | Having hundreds of positive reviews online has a direct impact on your business. Using our system, soliciting and managing online patient reviews is easier than ever. If you’re not investing in improving your online reviews, you're losing sales to your competitors.
        p
          img(src='images/icon-angle-down.png', alt='')
        p.bottom5
          img(src='images/hiw-tpa.png', alt='')
        h3.text-tpa Yelp.com
        p.bottom20 Get the best, geniune reviews on the most-popular review site.
        p.bottom5
          img(src='images/hiw-nla.png', alt='')
        h3.text-nla HealthGrades.com
        p.bottom20 Rank highly in the world's best known medical review site.
        div
          p.bottom5
            img(src='images/hiw-lla.png', alt='')
          h3.text-lla Google+
          p.bottom20 Local businesses rely on being found and Google is the best place to start.
        .hiw-serps
          p.serps.serps-one Top Rated Local® #{data.type}
          p.serps.serps-two #1 Choice - Top Rated Local® #{data.type}
          p.serps.serps-three
            span.doctorName #{data.name}
      .col-sm-4
        span.icon-number 2
        h2
          | Monitor
          strong  Ratings
        p
          | Having good reviews is only part of the battle. To be successful, you also need to monitor your reviews and online listings. Luckily, our system does that automatically, so you can go back to growing your practice.
          br
          br
        p
          img(src='images/icon-angle-down.png', alt='')
        .hiw-badge
          img(src='images/hiw-badge-trl.png', alt='')
          .badge-vertical
            p #{data.type}
        h3 Top Rated Local® #{data.type}
        p
          | This trusted program and eye catching ad copy motivates more prospects to click on your listings and visit your website.
        div
          p.bottom5.top20
            img(src='images/hiw-trl.png', alt='')
          h3.text-tpa Top Rated Local®
          p.bottom5 Rank highly in organic search when a prospect searches for your top keywords.
          .hiw-trl
            p.serps.hiw-trl__one
              span.doctorName #{data.name}
              |  Reviews
            .serps.hiw-trl__two
              p.hiw-trl__title
                span.doctorName #{data.name}
                |  Reviews
              p.hiw-trl__link
                | www.topratedlocal.com/
                span.doctorName #{data.name}
              p
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                |  4.9 rating on 24 reviews
      .col-sm-4
        span.icon-number 3
        h2
          | Improve
          strong  Competitiveness
        p
          | Having great reviews, constant monitoring of your competitive position, being highly visible and highly clickable all mean that you convert more of your online viewers into real customers.
          br
          br
        p
          img(src='images/icon-angle-down.png', alt='')
        h3 Beat the Competition
        p Crush your competition with PracticeWin.
