section#industryResearch.section-page
  .section-header
    .header-logo
      p.bottom
        | —
        span.doctorType #{data.type}
        |  —
      p.bottom
        img(src='images/logo-mdocs-light.png', alt='Patient Reviews by MDOCS')
    .header-title
      h1 Industry Research
  .padding-all.bg-grey
    ul.list-check.list-unstyled
      
      li
        span.glyphicon.glyphicon-star
        |  A one star rating increase leads to 9% increase in revenue
      li
        span.glyphicon.glyphicon-star
        |  97% of consumers aged 18-34 read online reviews to judge a local #{data.type.toLowerCase()}
      li
        span.glyphicon.glyphicon-star
        |  92% of consumers decide on a #{data.type.toLowerCase()}, based on online reviews (vs. 88% in 2015)
      li
        span.glyphicon.glyphicon-star
        |  40% of consumers form an opinion by reading just 1-3 reviews (vs. 29% in 2015)
      li
        span.glyphicon.glyphicon-star
        |  Star rating is #1 factor used by consumers to judge a #{data.type.toLowerCase()}
      li
        span.glyphicon.glyphicon-star
        |  44% say a review must be written within 1 month to be relevant
      li
        span.glyphicon.glyphicon-star
        |  Only 13% of consumers consider using a #{data.type.toLowerCase()} that has a 1 or 2 star rating
      li
        span.glyphicon.glyphicon-star
        |  68% say positive reviews make them trust a local #{data.type.toLowerCase()} more (vs. 72% in 2015)
      li
        span.glyphicon.glyphicon-star
        |  Consumers are becoming more concerned about fake reviews
  .padding-all
    h4
      strong Key Takeaways
    div
      | Despite the proliferation of websites, apps and platfroms provider reliability, good value and professionalism are the most important traits that a local #{data.type.toLowerCase()} can demonstrate to consumers.
      br
      br
      | While courtesy and friendliness are welcomed and expected traits, consumers are ultimately more concerned whether a business can deliver a reliable service at the right price.
      br
      br
      | When choosing a #{data.type.toLowerCase()}, cosumers are increaingly turning to the Internet for selecting the most reputable #{data.type.toLowerCase()}, for the right price. #{data.type}s should pay the most attention to their online reputation, because of the sort of reputation traits consumers are looking for when researching for the best #{data.type.toLowerCase()} online.
