footer#footer.footer.pb-0.bg-black-111
  .container.pb-20
    .row.multi-row-clearfix
      .col-sm-6.col-md-5
        .widget.dark
          img(alt='', src='/assets/images/logo-wide-white@2x.png')
      .col-sm-6.col-md-2
        .widget.dark
          h5.widget-title.line-bottom Links
          ul
            li 
              a(href='/content/services') Services
      .col-sm-6.col-md-3
        .widget.dark
          h5.widget-title.line-bottom Forms
          .latest-posts
            article.post.media-post.clearfix.pb-0.mb-10
              h5.post-title.mt-0.mb-5
                a(href='/content/faa-forms') FAA Flight Physical Form
              h5.post-title.mt-0.mb-5
                a(href='#') Immigration Forms
              h5.post-title.mt-0.mb-5
                a(href='#') Medical Records Release Form
              h5.post-title.mt-0.mb-5
                a(href='#') Motor Vehicle Accident Form
              h5.post-title.mt-0.mb-5
                a(href='#') Notice of Privacy Practices
              h5.post-title.mt-0.mb-5
                a(href='#') Registration Packet
              h5.post-title.mt-0.mb-5
                a(href='#') School Entrance Physical
              h5.post-title.mt-0.mb-5
                a(href='#') Sports Physical
              h5.post-title.mt-0.mb-5
                a(href='#') Workers Comp Forms
      .col-sm-6.col-md-2
        .widget.dark
          h5.widget-title.line-bottom Quick Contact
          ul.list.list-border
            li
              a(href='#')= practice.phone
            li
              a(href='#')= practice.email
            li
              a.lineheight-20(href='#')= practice.address  
              br
              a.lineheight-20(href='#')= practice.city
              |, 
              a.lineheight-20(href='#')= practice.state
              |  
              a.lineheight-20(href='#')= practice.zip
  .footer-nav.bg-black-222.p-20
    .row.text-center
      .col-md-12
        case practice.city
          when 'Gainesville'
            p.text-white.font-11.m-0 Copyright © 2015 VGUCC. All Rights Reserved.
          when 'Fairfax'
            p.text-white.font-11.m-0 Copyright © 2015 FLUCC. All Rights Reserved.
a.scrollToTop(href='#')
  i.fa.fa-angle-up
            
script(src='/assets/js/custom.js')
