header#header.header
  .header-top.bg-theme-colored.sm-text-center
    .container
      .row
        .col-md-6
          .widget.no-border.m-0
            ul.list-inline.sm-text-center.mt-5
              li.m-0.pl-10.pr-10
                i.fa.fa-phone.text-white
                |  
                a.text-white(href='#')= practice.phone
              li.text-white.m-0.pl-10.pr-10
                i.fa.fa-clock-o.text-white
                |  Mon-Fri 9am-8pm
              li.text-white.m-0.pl-10.pr-10
                i.fa.fa-clock-o.text-white
                |  Sat-Sun 10am-6pm
        .col-md-6
          .widget.no-border.m-0
            ul.social-icons.icon-dark.icon-circled.icon-theme-colored.icon-sm.pull-right.flip.sm-pull-none.sm-text-center.mt-sm-15
              li
                a(href='#')
                  i.fa.fa-facebook.text-white
              li
                a(href='#')
                  i.fa.fa-twitter.text-white
              li
                a(href='#')
                  i.fa.fa-google-plus.text-white
              li
                a(href='#')
                  i.fa.fa-instagram.text-white
              li
                a(href='#')
                  i.fa.fa-linkedin.text-white
  .header-middle.p-0.bg-lightest.xs-text-center
    .container.pt-0.pb-0
      .row
        .col-xs-12.col-sm-4.col-md-4
          .widget.no-border.m-0
            a.menuzord-brand.pull-left.flip.xs-pull-center.mb-15(href='javascript:void(0)')
              img(src='/assets/images/logo.png', alt= practice.name)
        .col-xs-12.col-sm-3.col-md-3
          .widget.no-border.pull-right.sm-pull-none.sm-text-center.mt-10.mb-10.m-0
            ul.list-inline
              li
                i.icon_house.text-theme-colored.font-36.mt-5.sm-display-block
              li
                h5.font-13.text-black.m-0= practice.address
                  br
                  span= practice.city 
                  |, 
                  span= practice.state
                  |  
                  span= practice.zip
        .col-xs-12.col-sm-2.col-md-2
          .widget.no-border.pull-right.sm-pull-none.sm-text-center.mt-10.mb-10.m-0
            a(href='/reviews')
              ul.list-inline
                li
                  i.icon_star.text-theme-colored.font-36.mt-5.sm-display-block
                li
                  h5.font-13.text-black.m-0 Read Our 
                  h5.font-13.text-black.m-0 Reviews
        .col-xs-12.col-sm-3.col-md-3
          .widget.no-border.pull-right.sm-pull-none.sm-text-center.mt-10.mb-10.m-0
            ul.list-inline
              li
                i.fa.fa-clock-o.text-theme-colored.font-36.mt-5.sm-display-block
              li
                h5.font-13.text-black.m-0  Mon-Fri 9am-8pm
                h5.font-13.text-black.m-0  Sat-Sun 10am-6pm
  .header-nav
    .header-nav-wrapper.navbar-scrolltofixed.bg-light
      .container
        nav#menuzord.menuzord.blue.bg-light
          ul.menuzord-menu
            each menuitem in menu
              li
                if menuitem.submenu
                  a(href='') #{menuitem.caption}
                  ul.dropdown
                    each submenuitem in menuitem.submenu
                      li
                        a(href=submenuitem.href) #{submenuitem.caption}
                else 
                  a(href=menuitem.href) #{menuitem.caption}

          ul.pull-right.flip.hidden-sm.hidden-xs
            .widget.no-border.m-0
              include ../partials/appointment.pug
