extends ../layouts/layout.pug

block head
  title #{application} &middot; Patient Reviews &middot; Profiles &middot; Profile Detail

block content
  .content.bg-gray-lighter
    .row.items-push
      .col-sm-6
        h1.page-heading View Profile (
          span= profile.name
          | )
        small Your collection of provider and office profiles.
      .col-sm-6.text-right.hidden-xs
        ol.breadcrumb.push-10-t
          li 
            a.link-effect(href='/app/dashboard') Dashboard
          li
            a.link-effect(href='/app/pr/phi/patient-reviews') Patient Reviews
          li
            a.link-effect(href='/app/pr/profiles') Profiles
          li
            a.link-effect(href='#') Profile Detail
  .content.bg-white
    a.btn.btn-success(href='/app/pr/update-profile/' + profile.id, style='margin-right: 10px')
      i.fa.fa-edit
      |  Edit Profile
    a.btn.btn-default(href='/app/pr/profiles')
      i.fa.fa-angle-left
      | &nbsp;Go Back
    .row
      .col-md-6
        legend(style='padding-top: 40px')
          h2 Overview
          .block-content
            table.table.table-striped
              thead
                tr
                  th Key
                  th Value
              tbody
                tr
                  td 
                    strong Name
                  td= profile.name
                tr
                  td 
                    strong Type
                  td= profile.type
                tr
                  td 
                    strong Email
                  td= profile.email
                tr
                  td 
                    strong Phone
                  td= formatPhone(profile.phone)
                  


        
      .col-md-6
        legend(style='padding-top: 40px')
          h2 Review Sites
          .block-content
            table.table.table-striped
              thead
                tr
                  th Site Name
                  th.hidden-xs(style='width: 15%;') Link
              tbody
                - if(!_.isEmpty(profile.review_sites.yelp))
                  tr
                    td Yelp
                    td.hidden-xs
                      a(href= profile.review_sites.yelp, target='_blank')
                        span.label.label-success 
                          i.fa.fa-compass
                          |   View in Browser
            
                - if(!_.isEmpty(profile.review_sites.google))
                  tr
                    td Google Plus
                    td.hidden-xs
                      a(href= profile.review_sites.google, target='_blank')
                        span.label.label-success 
                          i.fa.fa-compass
                          |   View in Browser
                - if(!_.isEmpty(profile.review_sites.healthgrades))
                  tr
                    td Health Grades
                    td.hidden-xs
                      a(href= profile.review_sites.healthgrades, target='_blank')
                        span.label.label-success 
                          i.fa.fa-compass
                          |   View in Browser
                - if(!_.isEmpty(profile.review_sites.vitals))
                  tr
                    td Vitals
                    td.hidden-xs
                      a(href= profile.review_sites.vitals, target='_blank')
                        span.label.label-success 
                          i.fa.fa-compass
                          |   View in Browser
                - if(!_.isEmpty(profile.review_sites.ratemds))
                  tr
                    td RateMDs
                    td.hidden-xs
                      a(href= profile.review_sites.ratemds, target='_blank')
                        span.label.label-success 
                          i.fa.fa-compass
                          |   View in Browser
                - if(!_.isEmpty(profile.review_sites.yellowpages))
                  tr
                    td Yellow Pages
                    td.hidden-xs
                      a(href= profile.review_sites.yellowpages, target='_blank')
                        span.label.label-success 
                          i.fa.fa-compass
                          |   View in Browser
