section.contact.pinstripe
  .row
    .span4.left
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "CONTACT", "type_id": 1, "fieldname": "location"}')
        .contact-header(property='fieldtext') Location
      address
        span(property='name')= practice.name
        br
        span(property='streetAddress')= practice.address
        br
        span(property='addressLocality')= practice.city  
        |,  
        span= practice.state  
        |,  
        span= practice.zip
        br
        |  Phone: 
        span.mm-phone-number.phoneupdated(property='telephone')= practice.phone
        br
        span(about='0', typeof='{"type":"MODULE", "secondary_type": "CONTACT", "type_id": 1, "fieldname": "fax"}')
          span(property='fieldtext') Fax: 
        span(property='fax')= practice.fax
    .span4.middle
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "CONTACT", "type_id": 1, "fieldname": "office-hours"}')
        .contact-header(property='fieldtext') Office Hours
      p
        label
          | Monday
          span= practice.hours.mon
        label
          | Tuesday
          span= practice.hours.tue
        label
          | Wednesday
          span= practice.hours.wed
        label
          | Thursday
          span= practice.hours.thu
        label
          | Friday
          span= practice.hours.fri
        label
          | Saturday
          span= practice.hours.sat
        label
          | Sunday
          span= practice.hours.sun
    .span4.right
      div(about='0', typeof='{"type":"MODULE", "secondary_type": "CONTACT", "type_id": 1, "fieldname": "get-in-touch"}')
        .contact-header(property='fieldtext') Get in touch
      p
        a(href='mailto:' + practice.email)= practice.email
        br
        a.btn-call(href='tel:' + practice.phone)
          i.fa.fa-phone
          span.mm-phone-number.phoneupdated= practice.phone
        br
        button.btn-book-online.ppop_bookonline_action.small(type='button', data-locationid='1')
          | Book Online
