extends ../layouts/layout.pug

block head
  title Edit profile for #{user.displayName}

block styles
  link(rel='stylesheet', href='/app/lib/animate.css/animate.css')

block content
  style.

    #editProfileContainer .field {
      padding: 10px 10px 10px 0px;
    }

    #editProfileContainer form {
      padding-bottom: 40px;
    }

    #editProfileContainer label {
      width: 150px;
      padding: 2px 0px;
      font-weight: bold;
    }

    .items label {
      font-weight: normal !important;
      width: 300px !important;
      padding: 1px 0px !important;
    }

    .user-info {
      display: inline-block;
      min-height: 80px;
    }

    .user-info p {
      float: right;
      margin-left: 15px;
      margin-top: 5px;
    }

    .user-info img {
      width: 48px;
    }

    #editProfileContainer input {
      width: 200px;
    }
    .custom-field {
      font-size: 2.3em;
      padding-bottom: 20px;
    }

  .container
    .row
      .col-sm-6.col-sm-offset-3
        center
          h1 User Profile
        hr
        #editProfileContainer
        .hidden#saved The changes were saved.
    .row
      .col-sm-6.col-sm-offset-3
        center
          h1 Upcoming Invoice Details
    .row
      .col-sm-10.col-sm-offset-1
        table.table.table-hover
          tr
            th Description
            th Amount
          tr.info
            td Amount Due Date - #{moment(futureInvoice.date * 1000).format('MMMM Do YYYY')}
            td #{formatCents(futureInvoice.amount_due)}
          each line, i in futureInvoice.lines.data
            tr
              - if (line.description)
                td
                  span #{line.description}
                td
                  strong #{formatCents(line.amount)}
              - else
                td
                  span #{line.plan.name}
                td
                  span
                    strong #{formatCents(line.plan.amount)}
                    | &nbsp;x #{line.quantity}
          //- span #{JSON.stringify(line, null, 2)}
block scripts
  script(src="//cdn.auth0.com/js/lock-7.js")
  script(src="/app/js/auth0-editprofile-widget.min.js")

  script.
    var domain = 'movelmobile.auth0.com';
    var cid = 'SdMQqjyMjjWAM2NbxfY8BJXK28JgQ2iB';

    var editProfileWidget = new Auth0EditProfileWidget('editProfileContainer',
      {
        domain: domain
      },
      [
      { id:"customName", type:"custom", attribute:"name", render: function(data) {
          var value = data.value || "";
          if ( value === "" ) return '<div class="form-group custom-field user-info"></div>';

          return '<div class="form-group custom-field user-info"><img src="#{user.picture}" class="img-circle"/><p>Welcome, <b>'+value+'</b>!</p></div>';
      } },
      { label: "First name:", type:"text", attribute:"name",

          validation: function(name){return (name.length > 10 ? 'The name is too long' : null);},
          onChange: function(value){

          console.log('Name changed:', value);
          editProfileWidget.updateFieldById('customName', {
              value:value
          });
          editProfileWidget.updateFieldById('field_text_lastname', {
              value:value + " LASTNAME"
          });
          }
      },
      { label: "Last name:", type:"text", attribute:"lastname" },
      { label: "Birth date:", type:"date", attribute:"birthday" },
      { label: "Email:", type:"email", attribute:"email" }
      //- { label: "Bio:", type:"textarea", attribute:"bio",
      //-     onChange: function(value){

      //-     console.log('Bio changed:', value);
      //-     }
      //- },
      //- { label: "Type", type:"select", attribute:"account_type", options:[
      //-     { value: "type_1", text:"Type 1"},
      //-     { value: "type_2", text:"Type 2"},
      //-     { value: "type_3", text:"Type 3"}
      //- ],
      //-     onChange: function(value){

      //-     console.log('Type changed:', value);
      //-     }
      //- },
      //- { label: "Subscription plan", type:"radio", attribute:"account_options", options:[
      //-     { value: "opt_1", text:"Small Practice"},
      //-     { value: "opt_2", text:"Medium Practice"},
      //-     { value: "opt_3", text:"Large Practice"}
      //- ],
      //-     onChange: function(value){

      //-     console.log('Options changed:', value);
      //-     }
      //- },
      //- { label: "Review sites", type:"checkbox", attribute:"account_checks", options:[
      //-     { value: "chk_1", text:"Yelp"},
      //-     { value: "chk_2", text:"Google"},
      //-     { value: "chk_3", text:"HealthGrades"},
      //-     { value: "chk_4", text:"Vitals.com"},
      //-     { value: "chk_5", text:"RateMDs.com"},
      //-     { value: "chk_6", text:"Facebook"}
      //- ],
      //-     onChange: function(value){

      //-     console.log('Checks changed:', value);
      //-     }
      //- }
      ]);

      editProfileWidget
          .on('loading', function() {
            console.log('loading')
          })
          .on('loaded', function(data) {
            console.log('loaded', data)
          })
          .on('submit', function(data) {
            console.log('submited', data)
          })
          .on('save', function(data){
            console.log('saved', data);
            document.getElementById('saved').className = "";
            setTimeout(function(){
              document.getElementById('saved').className = "hidden";
            }, 3000);
          })
          .on('error', function(data){
            console.log('error', data);
          })
          .init('#{auth0Token}');
