extends ../layouts/layout.pug

block head
  title My Subscriptions

block styles
  link(rel='stylesheet', href='/app/lib/animate.css/animate.css')

block content
  style.
    .danger-well {
      border: 2px solid #ff0000;
    }
    .lineitem-notes {
      font-size: smaller;
      color: #ccc;
      padding-left: 20px
    }
  .content.bg-gray-lighter
    .row.items-push
      .col-sm-7
        h1.page-heading
          | Subscription  
          small
            | View and change your subscription plan.
      .col-sm-5.text-right.hidden-xs
        ol.breadcrumb.push-10-t
          li 
            a.link-effect(href='/app/dashboard') Dashboard
          li
            a.link-effect(href='/app/dashboard') Patient Reviews
          li
            a.link-effect(href='/app/subscription') Subscription
          
  
  .content.bg-white
    .row
      .col-md-12
        table.table
          tr
            td.col-md-3
              strong Current Plan
            td.col-md-9 #{currentInvoiceLine.plan.name || currentInvoiceLine.plan.id}
          tr
            td.col-md-3
              strong Current Billing Cycle Date
            td.col-md-9 #{moment(currentInvoice.period_start * 1000).format('MMMM Do YYYY')}
          tr
            td.col-md-3
              strong Billing Cycle Interval
            td.col-md-9 
              span(style='text-transform:capitalize;') #{currentInvoiceLine.plan.interval}
    br
    .row
      .col-md-12
        h4 Subsription Information Per Current Billing Cycle
    .row
      .col-md-12
        table.table
          tr
            td.col-md-3
              strong Charged Payment
            td.col-md-9
              strong #{formatCents(currentInvoiceLine.plan.amount)}
              | &nbsp;per&nbsp;
              strong #{currentInvoiceLine.plan.interval}
              | &nbsp;for&nbsp;
              strong #{currentInvoiceLine.quantity}
              | &nbsp;subscriptions. Total&nbsp;
              strong #{formatCents(currentInvoice.total)}
          tr
            td.col-md-3
              strong Paid
            td.col-md-9
              if currentInvoice.paid
                i.fa.fa-check
              else
                i.fa.fa-ban

    br
    - var upcomingSub = currentSubscription.customer.subscriptions.data[0]
    .row
      .col-md-12
        h4 Subsription Information Per Upcoming Billing Cycle
    .row
      .col-md-12
        table.table
          tr
            td.col-md-3
              strong Upcoming Cycle Payment
            td.col-md-9
              strong #{formatCents(upcomingSub.plan.amount)}
              | &nbsp;per&nbsp;
              strong #{upcomingSub.plan.interval}
              | &nbsp;for&nbsp;
              strong #{upcomingSub.quantity}
              | &nbsp;subscriptions. Total&nbsp;
              strong #{formatCents(upcomingSub.plan.amount * upcomingSub.quantity)}
              | &nbsp;at&nbsp;
              strong #{moment(futureInvoice.date * 1000).format('MMMM Do YYYY')}
          tr
            td.col-md-3
              strong Total Amount Due
            td.col-md-9
              strong #{formatCents(futureInvoice.amount_due)}
              | &nbsp;at&nbsp;
              strong #{moment(futureInvoice.date * 1000).format('MMMM Do YYYY')}
          tr
            td.col-md-3
              strong Including Prorated Amount
            td.col-md-9
              strong #{formatCents(paymentDelta)}
              i.lineitem-notes &nbsp;See&nbsp;
                a(href="#invDetails") Invoice Change Details
          tr
            td.col-md-3
              strong Active
            td.col-md-9
              if upcomingSub.status === 'active'
                i.fa.fa-check
              else
                i.fa.fa-ban

    br
    .row(id='invDetails')
      .col-md-12
        h4 Invoice Change Details
    .row
      .col-md-12
        table.table.table-hover
          each line, i in futureInvoice.lines.data
            tr
              - if (line.type === 'invoiceitem')
                td
                  span #{moment(line.period.start * 1000).format('MMMM Do YYYY')}
                td
                  span #{formatCents(line.amount)}
                td
                  span #{line.description}
              //- - else
              //-   td
              //-     span #{moment(line.period.start * 1000).format('MMMM Do YYYY')}
              //-   td
              //-     span
              //-       span #{formatCents(line.plan.amount)}
              //-       | &nbsp;x #{line.quantity}
              //-   td
              //-     span #{line.plan.name}
              //- td
              //-   span #{JSON.stringify(line, null, 2)}
    br
    br
    br
    .row
      .col-md-12
        h3 Danger zone
        br
      .col-md-12
        .well.danger-well
          p You will not be able to send and view Patient Reviews without an active subscription.
          button.btn.btn-danger.unsubscribe(type='button') Cancel Subscription

  .modal.fade.unsubscribe-modal(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4.modal-title Unsubscribe confirmation
        .modal-body
          h4 Are you sure?
          br
          form(action='delete-subscription', method='POST')
            .form-group
              label Type YES to unsubscribe
              input.form-control(type='text')
            input.form-control(type='hidden', name='_csrf', value=_csrf)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Cancel
          button.btn.btn-primary(type='button') Unsubscribe
block scripts
  script.
    (function(init) {
      init(window.jQuery, window, document);
    }(function($, window, document) {
      $.ajax({
        type: 'GET',
        url: '/app/lib/bootstrap/js/modal.js',
        dataType: 'script',
        cache: true
      });

      function unsubscribe() {
        var modal = $('.unsubscribe-modal');
        modal.modal({keyboard:true,backdrop:'static'});
        // if "yes" clicked
        modal.one('click', '.btn-primary', function () {
          var confirmInput = $('input[type="text"]', modal);
          if (confirmInput.val() === 'YES') {
            $('form', modal).submit();
          }
          confirmInput.val('');
          modal.modal('hide');
        });
      }

      $(function() {
        $('.unsubscribe').on('click', unsubscribe);
      });
    }));

