script(type='text/javascript').
        //<![CDATA[
        with(milonic=new menuname("mm199661538")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Articles;url=/welcome/blog/articles/;status=Articles;");
        }
        with(milonic=new menuname("mm199661544")){style=menuStyleHorzNav1;left = "offset=1";top = "offset=0";aI("showmenu=mm199661538;text=Blog;url=/welcome/blog/;status=Blog;");
        }
        with(milonic=new menuname("mm199661539")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Health Fairs &amp; Events;url=/content/health-fairs-events/;status=Health Fairs &amp; Events;");
        left = "offset=0";top = "offset=0";aI("text=Patient Reviews;url=/our-doctor/our-practice/patient-reviews/;status=Patient Reviews;");
        }
        with(milonic=new menuname("mm199661523")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Meet Our Team;url=/content/meet-our-team/;status=Meet Our Team;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661539;text=Our Practice;url=/content/our-practice/;status=Our Practice;");
        }
        with(milonic=new menuname("mm199661570")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Crowns (Caps);url=/content/smile-gallery/restorations/crowns-caps/;status=Crowns (Caps);");
        left = "offset=0";top = "offset=0";aI("text=Dentures &amp; Partial Dentures;url=/content/dentures-partial-dentures/;status=Dentures &amp; Partial Dentures;");
        }
        with(milonic=new menuname("mm199661573")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Porcelain Crowns (Caps);url=/content/porcelain-crowns-caps/;status=Porcelain Crowns (Caps);");
        left = "offset=0";top = "offset=0";aI("text=Dental Implants;url=/content/dental-implants/;status=Dental Implants;");
        }
        with(milonic=new menuname("mm199661545")){style=menuStyleHorzNav1;left = "offset=1";top = "offset=0";aI("showmenu=mm199661570;text=Restorations;url=/content/restorations/;status=Restorations;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661573;text=Other Procedures;url=/content/other-procedures/;status=Other Procedures;");
        }
        with(milonic=new menuname("mm199661550")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Dental Exams &amp; Cleanings;url=/content/dental-exams-cleanings/;status=Dental Exams &amp; Cleanings;");
        left = "offset=0";top = "offset=0";aI("text=Dental X-Rays;url=/content/dental-x-rays/;status=Dental X-Rays;");
        left = "offset=0";top = "offset=0";aI("text=Home Care;url=/content/home-care/;status=Home Care;");
        left = "offset=0";top = "offset=0";aI("text=How to Properly Brush &amp; Floss;url=/content/how-to-properly-brush-floss/;status=How to Properly Brush &amp; Floss;");
        }
        with(milonic=new menuname("mm199661555")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=What is Periodontal (Gum) Disease?;url=/content/what-is-periodontal-gum-disease/;status=What is Periodontal (Gum) Disease?;");
        left = "offset=0";top = "offset=0";aI("text=Diagnosis;url=/content/diagnosis/;status=Diagnosis;");
        left = "offset=0";top = "offset=0";aI("text=Treatment;url=/content/treatment/;status=Treatment;");
        left = "offset=0";top = "offset=0";aI("text=Maintenance;url=/content/maintenance/;status=Maintenance;");
        }
        with(milonic=new menuname("mm199661560")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Composite Fillings;url=/content/composite-fillings/;status=Composite Fillings;");
        left = "offset=0";top = "offset=0";aI("text=Crowns (Caps);url=/content/crowns-caps/;status=Crowns (Caps);");
        left = "offset=0";top = "offset=0";aI("text=Dentures &amp; Partial Dentures;url=/content/dentures-partial-dentures/;status=Dentures &amp; Partial Dentures;");
        left = "offset=0";top = "offset=0";aI("text=Fixed Bridges;url=/content/fixed-bridges/;status=Fixed Bridges;");
        left = "offset=0";top = "offset=0";aI("text=Root Canal Therapy;url=/content/root-canal-therapy/;status=Root Canal Therapy;");
        }
        with(milonic=new menuname("mm199661542")){style=menuStyleHorzNav1;left = "offset=1";top = "offset=0";aI("showmenu=mm199661550;text=Cleanings &amp; Prevention;url=/content/cleanings-prevention/;status=Cleanings &amp; Prevention;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661555;text=Periodontal Disease;url=/content/periodontal-disease/;status=Periodontal Disease;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661560;text=Restorations;url=/content/restorations/;status=Restorations;");
        }
        with(milonic=new menuname("mm199661536")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Oral Health for Seniors;url=/content/oral-health-for-seniors/;status=Oral Health for Seniors;");
        }
        with(milonic=new menuname("mm199661543")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Composite Fillings;url=/content/composite-fillings/;status=Composite Fillings;");
        left = "offset=0";top = "offset=0";aI("text=Porcelain Crowns (Caps);url=/content/porcelain-crowns-caps/;status=Porcelain Crowns (Caps);");
        left = "offset=0";top = "offset=0";aI("text=Porcelain Fixed Bridges;url=/content/porcelain-fixed-bridges/;status=Porcelain Fixed Bridges;");
        left = "offset=0";top = "offset=0";aI("text=Teeth Whitening;url=/content/teeth-whitening/;status=Teeth Whitening;");
        left = "offset=0";top = "offset=0";aI("text=Porcelain Veneers;url=/content/porcelain-veneers/;status=Porcelain Veneers;");
        }
        with(milonic=new menuname("mm199661526")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=New Patient Referral Program;url=/content/new-patient-referral-program/;status=New Patient Referral Program;");
        }
        with(milonic=new menuname("mm199661540")){style=menuStyleHorzNav1;left = "offset=0";top = "offset=0";aI("text=Appointment Request;url=/contact/appointment-request/;status=Appointment Request;");
        }
        with(milonic=new menuname("mm")){style=menuStyleHorzNav1;left = "offset=1";top = "offset=0";aI("showmenu=mm199661544;text=Welcome;url=/;status=Welcome;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661523;text=Our Doctor;url=/content/our-doctor/;status=Our Doctor;");
        left = "offset=0";top = "offset=0";aI("text=Dental Videos;url=/content/dental-videos/;status=Dental Videos;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661545;text=Smile Gallery;url=/content/smile-gallery/;status=Smile Gallery;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661542;text=Procedures;url=/content/procedures/;status=Procedures;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661536;text=Family Dentistry;url=/content/family-dentistry/;status=Family Dentistry;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661543;text=Cosmetic Dentistry;url=/content/cosmetic-dentistry/;status=Cosmetic Dentistry;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661526;text=Patient Forms;url=/content/patient-forms/;status=Patient Forms;");
        left = "offset=1";top = "offset=0";aI("showmenu=mm199661540;text=Contact;url=/content/contact/;status=Contact;");
        }
        drawMenus();//]]>