extends ../layouts/layout.pug

block head
  title Subscribe
  script(type='text/javascript', src='https://js.stripe.com/v2/')

block styles
  link(rel='stylesheet', href='/app/lib/animate.css/animate.css')

block scripts
  script.
    (function(init) {
      init(window.jQuery, window, document);
    }(function($, window, document) {

      var errorCount = 0;
      function updateFormErrorWithDelta(delta) {
        errorCount = delta === 0 ? 0 : errorCount + delta;
        if (errorCount <= 0) {
          errorCount = 0;
        }
        $('.subscribeform').find('.checkoutbutton').prop('disabled', errorCount > 0);
      }

      function stripeResponseHandler(status, response) {
        var $form = $('.subscribeform');
        if (response.error) {
          $form.find('.cc-error').removeClass('hidden').text(response.error.message);
          $form.find('.checkoutbutton').prop('disabled', errorCount !== 0);
        } else {
          var token = response.id;
          $form.append($('<input type="hidden" name="stripeToken">').val(token));
          $form.get(0).submit();
        }
      };

      function checkUserEmail$(data) {
        return $.ajaxAsObservable({
          url: 'emailCheck',
          data: data,
          dataType: 'json'
        })
        .catch(function(err) {
          return Rx.Observable.return({success : false});
        });
      }

      function checkUserEmail(el) {
        var popoverVisible = false
        $(el).popover({
                    placement:'right',
                    trigger:'manual',
                    container: 'body',
                    html:true,
                    content:'<p>User already exists.<br/>Please <a href="/login">Login</a> instead</p>'
                });

        var sub = $(el).keyupAsObservable()
          .merge($(el).focusoutAsObservable())
          .map( function (ev) {
            return {
              f: (ev.type === 'focusout'),
              e: $(ev.target).val()
            };
          })
          .filter( function (data) { return !data.e || data.e.length > 2; })
          .sample(500)
          .distinctUntilChanged()
          .flatMapLatest(checkUserEmail$)
          .map( function(data) { return data.data; } )
          .filter( function (data) { return data.success; })
          .subscribe(
            function (data) {
              if (data.userExists && !popoverVisible) {
                $(el).popover('show');
                popoverVisible = true;
                updateFormErrorWithDelta(1);
              } else if (!data.userExists && popoverVisible) {
                $(el).popover('hide');
                popoverVisible = false;
                updateFormErrorWithDelta(-1);
              }
            }
        );
      }

      $(function() {
        Stripe.setPublishableKey('#{config.STRIPE_PUB_KEY}');
        var $form = $('.subscribeform');
        $form.submit(function(event) {
          $form.find('.checkoutbutton').prop('disabled', true);
          $form.find('.cc-error').addClass('hidden').text('');
          Stripe.card.createToken($form, stripeResponseHandler);
          return false;
        });

        checkUserEmail($('input[name="email"]'));
      });
    }));


block content
  style.
    .pricing--featured .pricing__content li {
      color: #fff;
    }
    .rowaccent {
      background-color: #eee;
    }
    .wrapper {
      margin: 10px 0 10px 0;
      background-color: white;
      padding-top: 1px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
    }
  if hasSubscription
    .alert.alert-warning(role='alert')
      | You are already logged in and have active subscription. Please&nbsp;
      a(href='/app/logout') Log Out
      | &nbsp;and try again or go to&nbsp;
      a(href='/app') Application Dashboard
  else
    br
    br
    .container
      .row
        .col-sm-7.col-sm-offset-3
          h1.text-center
            strong Sign up for Patient Reviews
          h4.text-center 30-Day Money Back Guarantee.&nbsp;
            a(href=changePlanUrl) Change Your Plan
            | &nbsp;Anytime.
      br
      .row
        .col-sm-7.col-sm-offset-3.rowaccent
          form.subscribeform(action=checkoutUrl, method='POST')
            input.form-control(type='hidden', name='_csrf', value=_csrf)
            input.form-control(type='hidden', name='plan', value=plan)
            .wrapper
              h3.text-center Selected Plan
              br
              span
                strong #{planInfo.name}&nbsp;
                a(href=changePlanUrl) (Change&nbsp;Plan)
              .form-group
                .radio
                  label
                    input(type='radio', name='payOccurence', value='monthly', checked=1)
                    | Monthly subscription $#{planInfo.price[0]}
                .radio
                  label
                    input(type='radio', name='payOccurence', value='yearly')
                    | 12 Months subscription $#{planInfo.price[1]}
                .radio
                  label
                    input(type='radio', name='payOccurence', value='biyearly')
                    | 24 Months subscription $#{planInfo.price[2]}
            if (!user || _.isEmpty(user))
              .wrapper
                h3 Account Information
                br
                .form-group
                  input.form-control(type='text', placeholder='Full Name', name='name')
                .form-group
                  input.form-control(type='email', placeholder='Email (will be your user name)', name='email')
                .form-group
                  input.form-control(type='password', placeholder='Password', name='pass')
                .form-group
                  input.form-control(type='password', placeholder='Confirm Password', name='passcheck')
            else
              input.form-control(type='hidden', name='hasUser', value=user.id)
            .wrapper
              h3 Payment Information
              .alert.alert-danger.hidden.cc-error(role='alert') &nbsp;
              br
              .form-group
                .row
                  .col-sm-12
                    input.form-control(type='text', size='20', data-stripe='number', placeholder='Card Number')
              .form-group
                .row
                  .col-sm-6
                    span Expiration (MM/YY)
                  .col-sm-3
                    input.form-control(type='text', size='2', data-stripe='exp_month', placeholder='mm')
                  .col-sm-3
                    input.form-control(type='text', size='2', data-stripe='exp_year', placeholder='yy')
              .form-group
                .row
                  .col-sm-6
                    input.form-control(type='text', size='4', data-stripe='cvc', placeholder='CVC')
                  .col-sm-6
                    input.form-control(type='text', size='6', data-stripe='address_zip', placeholder='Billing ZIP')
            a(href='https://stripe.com/docs/testing#cards') Test Cards
            .row.rowaccent(style='padding: 20px;')
              .col-sm-8.col-sm-offset-2
                .form-group
                  button.btn.btn-primary.form-control.checkoutbutton(type='submit') Proceed To Checkout
      br
      br
