section.practice.PARALLAX
  .photo-layout.hero-media(style='display: block; background: url("/assets/img/1395837.jpg") 50% 0px / cover no-repeat;')
    //- .cloak
  include ../socialIcons.pug
  .row
    .span12
      .logo-wrapper
        .logo
          img(src=practice.logo.big, alt=practice.name, height='180')
    if !practice.hideHeaderInfo
      h1= practice.name
      h2= practice.description
  .row(style="padding-top: 100px")
    if practice.multiOffice
      each office in practice.offices
        .span6.left(style="background-color: rgba(0,0,0,0.5); padding: 20px")
          h1= office.location
          h2= office.address
            br
            span= office.city
            |,  
            span= office.state
            |  
            span= office.zip
          ul.booking-options
            li
              a.btn-call(href= 'tel:' + office.phone)
                i.fa.fa-phone
                span.mm-phone-number.phoneupdated= office.phone
            li
              button.btn-book-online(type='button', dat-toggle='modal', dat-target='#book-online', data-practiceid='1', data-locationid='1')
                span= practice.ctaLabel
