section.practice-service
  .photo-layout.hero-media(style='display: block; background: url("/assets/img/1395837.jpg") 50% 0px / cover no-repeat;')
    .cloak
  include ../socialIcons.pug
  .row
    .left(style='padding-left: 0px')
      figure(style='width:300px;')
        img(src=practice.logo.big, alt=practice.name, style='width:300px;filter: brightness(1000%) contrast(1000%) grayscale(100%) drop-shadow(2px 2px 2px #333)')
      //- h2= practice.name
      //- h3= practice.description 
      if !practice.multiOffice
        |  located in  
        span= practice.city
        |, 
        span= practice.state
    .right
      != data.header
      .service-description= data.description
      
      //- if practice.multiOffice
      //-   each office in practice.offices
      //-     .span6
      //-       h2= office.location
      //-       h3= office.address
      //-         br
      //-         span= office.city
      //-         |,  
      //-         span= office.state
      //-         |  
      //-         span= office.zip
      //-       ul.booking-options
      //-         li
      //-           a.btn-call(href= 'tel:' + office.phone)
      //-             i.fa.fa-phone
      //-             span.mm-phone-number.phoneupdated= office.phone
      //-         li
      //-           button.btn-book-online(type='button', dat-toggle='modal', dat-target='#book-online', data-practiceid='1', data-locationid='1')
      //-             span= practice.ctaLabel
    //-   ul.booking-options
    //-     li
    //-       a.btn-call(href= 'tel:' + practice.phone)
    //-         i.fa.fa-phone
    //-         span.mm-phone-number.phoneupdated= practice.phone
    //-     li
    //-       button.btn-book-online(type='button', data-practiceid='1', data-locationid='1')
    //-         | Book Online
    //- .clear-40
