extends ../layouts/layout.pug

block head
  title #{application} &middot; Customize a Review
block styles
  style.
    em.text-hint {
      color: red;
      margin-bottom: 60px;
      display: block;
      text-align: center;
    }
block content
  .content.bg-gray-lighter
    .row.items-push
      .col-sm-8
        h1.page-heading Customize Reviews Questions
        small Set your own questions for the reviews.
      .col-sm-4.text-right.hidden-xs
        ol.breadcrumb.push-10-t
          li
            a.link-effect(href='/app/dashboard') Dashboard
          li
            a.link-effect(href='/app/pr/phi/patient-reviews') Patient Reviews
          li
            a.link-effect(href='/app/pr/customize') Customize Reviews

  .content.bg-white
    .row
      .col-sm-8.col-sm-offset-2
        form.form-horizontal.push-10-t(id='questionsForm' method='POST' action='customize')
          input(type='hidden', name='_csrf', value=_csrf)
          input(type='hidden', name='id')
          .form-group
            label(for="profileSelector") Profile For Editing
            .dropdown.js-profile-selector
              button.form-control.btn.btn-default.dropdown-toggle(id="profileSelector" type="button", name="profileDropdownButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Select a Profile
              ul.form-control.dropdown-menu(aria-labelledby="profileDropdownButton" style="padding: 0px; border-width: 0px;")
                - if (profiles.length === 0)
                  span &nbsp;&nbsp;No profiles found in the database.&nbsp;&nbsp;
                - else
                  each profile, i in profiles
                    li
                      a.form-control(href="#", data-id=profile.id, data-type=profile.type) #{profile.name}
          .form-group
          .js-editor-content

        a.btn.btn-success#update-questions(href='#' disabled)
          i.fa.fa-check
          | &nbsp;Update Questions

    hr
    p.text-muted <em>#{application}
      a(href='/app/terms')  Terms of Use
      |  and
      a(href='/app/privacy')  Privacy Policy.</em>

  template.js-editor-template
    <div>{{#unless questions}}<em class="text-hint">Please select profile for editing above</em>{{/unless}}{{#each questions}}<div class="form-group">
    <div class="form-material open">
    <input class="form-control" name="questions.{{id}}" id="q_{{id}}" value="{{question}}"/>
    <label for="q_{{id}}">Question</label>
    </div>
    </div>{{/each}}</div>

block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js')
  script.
    // Current default questions
    var g_questions = !{JSON.stringify(questions)};
    var g_editorTemplate;
    // DOM Ready =============================================================
    $(document).ready(function() {

      g_editorTemplate = Handlebars.compile($(".js-editor-template").html());

      $.ajax({
        type: 'GET',
        url: '/app/lib/bootstrap/js/modal.js',
        dataType: 'script',
        cache: true
      });

      // Update questions
      $('#update-questions').on('click', updateQuestions);
      $(".js-profile-selector").on('click', 'li a', updateSelectedProfile);
      $('.js-editor-content').html(g_editorTemplate({}));
      $('#update-questions').prop('disabled', true)
    });

    // Functions =============================================================
    function updateSelectedProfile(event) {
      event.preventDefault()
      var $profileDropdownButton = $('.js-profile-selector button');
      $profileDropdownButton.html($(this).text())

      $('#update-questions').prop('disabled', false)
      $('#update-questions').removeAttr('disabled')

      var profileId = $(this).data('id')

      $('#questionsForm input[name="id"]').val(profileId)

      var questions = g_questions[profileId]

      $('.js-editor-content').html(g_editorTemplate({
        questions: questions
      }));
    }

    function updateQuestions(event) {
      event.preventDefault()
      if ($(this).prop('disabled')) {
        return
      }
      $('#questionsForm').submit();
    }
