extends ../layouts/landingLayout

block head
  title Edit profile for #{user.displayName}
block styles
  style.
    @media all and (max-width: 544px) {
      .row-xs-center {
        width: 128px;
        margin: auto;
      }
    }

block content
  .container
    .row
      .col-sm-8.col-sm-offset-2
        br
        br
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          legend
            h2 Review Details
            p.small Thank you for your review. We would love to get your help and spread the word. Please use the link below to post your review.
    .row
      .col-sm-8.col-sm-offset-2.col-xs-12
        .row.row-xs-center
          each site in sites
            a(href=forwardUrl+'?to='+site.url+'&k='+site.key target="_blank" rel="noopener noreferrer")
              img(src=site.meta.icon128 srcset=site.meta.icon128x2+' 2x' alt=site.meta.name)
    .row
      .col-sm-8.col-sm-offset-2.col-xs-12
        hr
        p.text-muted <em>#{application}
          a(href='/app/terms')  Terms of Use
          |  and
          a(href='/app/privacy')  Privacy Policy.</em>

block scripts
  script(src='https://apis.google.com/js/platform.js', async, defer)
