meta(charset="utf-8")
meta(http-equiv="content-type", content="text/html; charset=utf-8")
meta(name="geo.region", content="US-VA")
meta(name="geo.placename", content="")
meta(name="geo.position", content="")
meta(name="ICBM", content="")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
- var contentData = data || {}
title= (title || contentData.seoTitle || contentData.title || contentData.name)
  |  |  
  = practice.name
meta(name='description', content= (description || contentData.seoDescription || practice.seo.description))
meta(name='keywords', content= (keywords || contentData.seoKeywords || practice.seo.keywords))

meta(name="author", content=author || '')
meta(name="msvalidate.01", content='5DB607F4C363F89A4D50B0EE7C63C8A9')
meta(property="og:title", content="")
meta(property="og:type", content="website")
meta(property="og:url", content="")
meta(property="og:site_name", content="")
meta(property="og:image", content="/assets/img/favicon.png")
meta(property="og:description", content="")
meta(property="fb:admins", content="1234567890")
meta(name="twitter:card", content="summary")
meta(name="twitter:description", content="")
meta(itemprop="image", content="/assets/img/favicon.png")
meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1")
meta(name="HandheldFriendly", content="True")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(name='robots', content='noindex,nofollow')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

//- != getBlock('meta').toHTML()

link(rel="shortcut icon", href="/assets/img/favicon.png")
link(rel='shortcut icon', type='image/x-icon', href='/assets/img/favicon.ico')
link(href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel='stylesheet', type='text/css')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet', type='text/css')
link(src='assets/css/jquery.datetimepicker.css', rel='stylesheet', type='text/css')
//- link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', type='text/css')
link(rel='stylesheet', type='text/css', href='/assets/css/theme.css')
link(rel='stylesheet', type='text/css', href='/assets/css/practice.css')
link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.1/jquery.datetimepicker.min.css')
link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.css')

//- include ./editor-header.pug

script(src='/assets/js/core/jquery.min.js')
script(src='/assets/js/core/jquery.flexslider-min.js')
script(src='/assets/js/core/jquery.validate.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.1/jquery.datetimepicker.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.1.1/jquery.rateyo.min.js')

script.
  window.MDOCS_ACCOUNT_ID='!{practice.mdocsAccount}'
